.seepage{ width: 100%; height: 100%; overflow: auto; }
.filemedia, .tmpmediapage { display: inline-block;}
.filemedia ~ img, .tmpmediapage ~ img { display: none; }
#paneldisenio{border-bottom: 1ex solid #27a745;}
.embed-responsive::before{ display: block; }
.btnnavegacionPage{ display: inline-flex;}
::-webkit-scrollbar { width:0px;}
/*::-webkit-scrollbar { width: 10px;}*/
::-webkit-scrollbar-thumb { background: #888;}
::-webkit-scrollbar-thumb:hover { background: #222; }