#contentpages{
	border-radius: 0px 20px 20px 0px;
	-moz-border-radius: 0px 20px 20px 0px;
	-webkit-border-radius: 0px 20px 20px 0px;
	border-left: 0px ;
	border-top: 15px solid #000000;
	border-right: 15px solid #000000;
	border-bottom:  15px solid #000000;	
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}

#bookplantilla{ position: relative; margin-left: 20px; width: calc(100% - 13px); } /*arriba*/
#bookplantilla.bootom-top{padding-right: 50px;} /*derecha */
#bookplantilla.left-top{margin-left: 40px; width: calc(100% - 45px);} /*izquierda*/
#bookplantilla.bootom-left,#bookplantilla.bootom-center,#bookplantilla.bootom-right{width: calc(100% + 20px); margin-left:-10px; margin-right: -10px; } /*abajo*/

.menubooktop{position: fixed; right: 3ex;top: 1ex; bottom: auto; left: auto;} /*arriba*/
#bookplantilla.bootom-top .menubooktop{ height: calc(100vh - 100px); position: fixed; right: 8px; top:65px; bottom: auto; left: auto; overflow-x: hidden; overflow-y: auto;} /*derecha */
#bookplantilla.bootom-top .menubooktop ul{ border: 0px; margin: 0px;  padding: 0px; width: 53px;}
#bookplantilla.bootom-top .menubooktop ul li{padding: 0px; line-height: initial;	width: 45px; writing-mode: vertical-lr;}
#bookplantilla.bootom-top .menubooktop ul li a{border-top-left-radius: 0px; border-bottom-right-radius: .25rem; border-top-right-radius: .25rem; width: 40px; writing-mode: vertical-lr;}
#bookplantilla.bootom-top .menubooktop::-webkit-scrollbar{ width: 7px; background: #333;}


#bookplantilla.left-top .menubooktop{ height: calc(100vh - 100px); position: fixed; left: 15px; top: 65px; bottom: auto; right: auto; overflow-x: hidden; overflow-y: auto; right: auto;} /*izquierda*/
#bookplantilla.left-top .menubooktop ul{ border: 0px; margin: 0px;  padding: 0px; width: 53px;}
#bookplantilla.left-top .menubooktop ul li{padding: 0px; line-height: initial;	width: 45px; writing-mode: vertical-lr;}
#bookplantilla.left-top .menubooktop ul li a{border-top-left-radius: 0px; border-bottom-right-radius: .25rem; border-top-right-radius: .25rem; 
	width: 40px; writing-mode: vertical-lr; transform: rotate(180deg);}
#bookplantilla.left-top .menubooktop::-webkit-scrollbar{ width: 7px; background: #333;}



#bookplantilla.left-top .anillado{height: 100%; right: -15px; z-index: 3; transform: rotate(180deg);} 
#bookplantilla.left-top > #contentpages{ border-radius: 20px 0px 0px 20px; -moz-border-radius: 20px 0px 0px 20px; -webkit-border-radius: 20px 0px 0px 20px;
  	border-left: 15px solid #000000;
}
#bookplantilla.bootom-left > #contentpages,#bookplantilla.bootom-center > #contentpages,#bookplantilla.bootom-right > #contentpages{
	border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px;
  	border-left: 15px solid #000000;
}
#bookplantilla.bootom-left > .anillado,#bookplantilla.bootom-center > .anillado,#bookplantilla.bootom-right > .anillado{display: none;}
#bookplantilla.bootom-left .menubooktop,#bookplantilla.bootom-center .menubooktop ,#bookplantilla.bootom-right .menubooktop
{position: absolute; top: auto; bottom: -40px; left: auto; right: auto;} /*abajo*/

#bookplantilla.bootom-left .menubooktop{left:25px;}
#bookplantilla.bootom-right .menubooktop{right:25px;}

.showindicepage{	
    background: #fff3f3b0;
}
#contentpages{	
	overflow: hidden;
	overflow-y: auto;
}
