/* Alineado a la izquierda*/
/*
.social-bar {
    position: fixed;
    left: 0;
    top: 20%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon:first-child {
    border-radius: 0 1rem 0 0;
}

.icon:last-child {
    border-radius: 0 0 1rem 0;
}

.icon:hover {
    color: white;
    padding-left: 3rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: .5rem rgba(0, 0, 0, 0.42) 0 0;
}
*/


/* Alineado a la derecha*/

.social-bar {
    position: fixed;
    right: 0;
    top: 20%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: .5s all;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    color: white;
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: .5rem rgba(0, 0, 0, 0.42) 0 0;
}


.social-bar-facebook {
    background: #2E406E;
}

.social-bar-twitter {
    background: #339DC5;
}

.social-bar-youtube {
    background: #E83028;
}

.social-bar-instagram {
    background: #DD216C;
}

.social-bar-google-plus {
    background: #3F60A5;
}
