body{
    background: #f4f4f4;
    color: #777;
}

ul.menu-individual li.active{
    background: rgba(0, 0, 0, 0.2);
}

ul.menu-individual li a{
    color: #fff;
    font-size: 1.2em;
}

ul.menu-individual li.active a{
    color: #f5ab40;
    font-size: 1.2em;
}

.panel {
	position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #dad7d7;
    margin-top: 1ex;
    margin-bottom: 0px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.35em;
    color: #fff;
}
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.panel-body {
    padding: 15px;
}
.panel.mostrarcollapse.activeshow .panel-title:after{
   content: '\f078';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;   
   text-decoration:none;
   cursor: pointer;
   float: right;
}
.panel.mostrarcollapse.activeshow {
  border: 1px solid #dad7d7;   margin-bottom:0px;
}
.panel.mostrarcollapse.activeshow .panel-body{ display: block; }

.panel.mostrarcollapse .panel-title:after{
   content: '\f077';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;   
   text-decoration:none;
   cursor: pointer;
   float: right;
}
/*.panel.mostrarcollapse .panel-body{ display: none; }*/

/*slick animacion*/
.slick-slider{
	margin-bottom: auto; 
}

.img-responsive{
  max-width: 100%;
  max-height: 100%;
  text-align: center;

}

@media (min-width: 768px) {
  #contentpages{
    background-size: 100%;
    background-repeat-y: no-repeat;
    background-position-y: center;
  }
}
@media (min-width: 385px) and (max-width: 767.99px) {
    .marcopage.arriba .menubooktop {
      top: -40px;
      left: 124px;
      width: 81%;
  }
  .menubooktop>ul>li{
    width: 25%;
    font-size: 9px;
    height: 35px;
  }
  .menubooktop>ul>li>a{
    padding: 7px 12px;
    font-size: 9px;
  }
    #contentpages{
    background-size: 100%;
    background-repeat-y: no-repeat;
    background-position-y: center;
  }
}
@media (max-width: 384.99px) {
  .marcopage.arriba .menubooktop {
      top: -40px;
      left: 124px;
      width: 81%;
  }
  .menubooktop>ul>li{
    width: 25%;
    font-size: 9px;
    height: 35px;
  }
  .menubooktop>ul>li>a{
    padding: 7px 12px;
    font-size: 9px;
  }
  #contentpages{
    background-size: 100%;
    background-repeat-y: no-repeat;
    background-position-y: center;
  }
    
}

html,body{
    margin: 0px auto;
}
ul.nav-wizard {
  /*background-color: #f1f1f1;
  border: 1px solid #d4d4d4;*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
ul.nav-wizard:before {
  position: absolute;
}
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: center;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
}
ul.nav-wizard li a {
  color: #428bca;
  padding: 0;
}
ul.nav-wizard li a:hover {
  background-color: transparent;
}
ul.nav-wizard li:before {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #d4d4d4;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #f1f1f1;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -15px;
}
ul.nav-wizard li.active {
  color: #3a87ad;
  background: #dedede;
}
ul.nav-wizard li.active:after {
  border-left: 16px solid #dedede;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #989898;
  /*background: #dedede;*/
}
ul.nav-wizard .active ~ li {
  color: #999999;
  /*background: #f9f9f9;*/
  border: 1px solid #e6e6e6;
}
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #f9f9f9;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  /*background: #f9f9f9;*/
}
ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}

