.paris-navbar {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.paris-navbar>div.paris-left {
    padding-left: 0;
    padding-bottom: 0;
}

.paris-navbar>div.paris-right {
    padding-right: 0;
    text-align: right!important;
}

.paris-navbar>div>button.paris-item {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    font-size: .875rem !important;
}

.paris-navbar>div>.paris-divisor {
    margin: 0;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.titulo-p {
    float: none !important;
    font-size: 24px !important;
    font-weight: bold !important;
    text-align: center !important;
    width: 100% !important;
}

.titulo-p-2 {
    font-size: 24px !important;
    font-weight: bold !important;
}

.x_content_2 {
    padding: 0 3px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
    border: none !important;
    box-shadow: none !important;
}

.panel_mnu {
    border: 2px solid #005b95;
    border-radius: 0.5em;
    box-shadow: 1px 5px 10px #b9b9b9;
    background-color: #fafafa
}

.widget_tally_box {
    cursor: pointer !important;
}

.ui-ribbon-wrapper {
    border-radius: 0.5em !important;
}

.slick-items {
    margin-bottom: 0 !important;
}