
:root {
    --primary: #005AF6;
    --green: #00FF80;
    --green-dark: #059500;
    --green-light: #E2FFE5;
    --blue: #00276B;
    --gray: #EBE7E7;
    --red: #FF2A64;
}
.home-course-section-1{
    width: 100%; background-image: url('../img/Grupo427.svg'); padding: 8px 0; position: relative;background-color: var(--primary);
}
#wf-mask-background-course {
    width: 100%; min-height: 100%; position: absolute; z-index: -1; background: var(--primary);
}
.infoUser{ padding: 0 10px;}
.icon {
    margin: auto 15px; width: 23px; height: 21px; display: block; background-size: 19px 21px; background-repeat: no-repeat;
}

.icon-btn {
    cursor: pointer;
}

.icon-btn :active {
    animation: mymovebtn 1s ease-in;
}
.icon-home {
    background-image: url('../img/icon-feather-home.svg'); background-size: 27px 25px; width: 28px!important; height: 28px!important;
}
.icon-exit {
    background-size: 27px 25px; width: 28px!important; height: 28px!important; background-image: url('../img/icon-feather-log-out.svg');
}
.icon-menu {
    background-image: url('../img/icons/icon-feather-menu.svg'); width: 27px!important; height: 21px!important; background-size: 27px 21px;
}
.background-points {
    background-image: url('../img/icons/Grupo323.svg')!important; background-size: auto!important;
}
.sidebar-mini.sidebar-collapse .main-sidebar {
    box-shadow: none!important;
}
body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .content-wrapper::before, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-footer::before, body:not(.sidebar-mini-md) .main-header, body:not(.sidebar-mini-md) .main-header::before{
    margin-left: 0!important;
}
.sidebar-open #sidebar-overlay{
    display: block!important;
}
.main-header{ background-color: white!important; box-shadow: -1px -4px 8px 0px black; z-index: 20; }
@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header{
        margin-left: 0!important;
    }
}
@media screen and (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before{
        margin-left: -100%!important;
    }
    
}