@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');
@import url("./validation_code.css");
 

html, body, * {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #005AF6;
    --green: #00FF80;
    --green-dark: #059500;
    --green-light: #E2FFE5;
    --blue: #00276B;
    --gray: #EBE7E7;
    --red: #FF2A64;
}

.red {
    color: var(--red);
}

.primary {
    color: var(--primary)!important;
}

.gray {
    color: #BBBBBB;
}

.bg-primary-light {
    background-color: #ECF2FF;
}

.bg-gray {
    background-color: #BBBBBB!important;
}

.bg-white {
    background-color: white!important;
}

.bg-green-light {
    background-color: var(--green-light)!important;
}

.bg-primary {
    background-color: var(--primary)!important;
}

.bg-green {
    background-color: var(--green)!important;
}

.bg-blue-light {
    background-color: #E2EDFF;
}

.bg-green-dark {
    background-color: var(--green-dark)!important;
}

.bluedark {
    color: var(--blue)!important;
}

.bg-bluedark {
    background: var(--blue)!important;
}

.green-light {
    color: var(--green-light);
}

.green-dark {
    color: var(--green-dark);
}

.icon-bluedark {
    fill: var(--blue)!important;
}

/* --------------------   ICONS   ---------------- */

.icon {
    margin: auto 15px;
    width: 23px;
    height: 21px;
    display: block;
    background-size: 19px 21px;
    background-repeat: no-repeat;
}

.icon-btn {
    cursor: pointer;
}

.icon-btn :active {
    animation: mymovebtn 1s ease-in;
}

.icon-user {
    background-image: url('../img/Icon-feather-user.svg');
}

.icon-pass {
    background-image: url('../img/Icon-feather-lock.svg');
}

.icon-menu {
    background-image: url('../img/icons/icon-feather-menu.svg');
    width: 27px!important;
    height: 21px!important;
    background-size: 27px 21px;
}

.icon-donwload {
    background-image: url('../img/icons/icon-feather-download.svg');
    width: 26px!important;
    height: 26px!important;
    background-size: 26px 26px;
}

.icon-traslate {
    background-image: url('../img/icons/icon-metro-language.svg');
    width: 32px!important;
    height: 28px!important;
    background-size: 32px 28px;
}

.icon-arrow-rigth {
    background-image: url('../img/icons/icon-awesome-arrow-right.svg');
    width: 28px!important;
    height: 28px!important;
    background-size: 28px 28px;
}

.icon-form {
    background-image: url('../img/icons/icon-awesome-wpforms.svg');
    width: 28px!important;
    height: 28px!important;
    background-size: 28px 28px;
}

.icon-config {
    background-image: url('../img/icons/icon-feather-settings.svg');
    width: 28px!important;
    height: 28px!important;
    background-size: 28px 28px;
}

.icon-close {
    background-image: url('../img/icons/icon-material-close.svg');
    width: 28px!important;
    height: 28px!important;
    background-size: 28px 28px;
}

.icon-calendar {
    background-image: url('../img/calendar.svg');
}

.icon-graduation {
    background-image: url('../img/icon-awesome-graduation-cap.svg');
}

.icon-archive {
    background-image: url('../img/icon-feather-archive.svg');
}

.icon-box {
    background-image: url('../img/icon-feather-box.svg');
}

.icon-folder {
    background-image: url('../img/icon-feather-folder.svg');
}

.icon-list {
    background-image: url('../img/icon-ionic-md-list.svg');
}

.icon-message {
    background-image: url('../img/message-square.svg');
}

.icon-home {
    background-image: url('../img/icon-feather-home.svg');
    background-size: 27px 25px;
    width: 28px!important;
    height: 28px!important;
}

.icon-exit {
    background-size: 27px 25px;
    width: 28px!important;
    height: 28px!important;
    background-image: url('../img/icon-feather-log-out.svg');
}

.icon-points {
    background-size: 5px 21px;
    width: 5px!important;
    height: 21px!important;
    background-image: url('../img/icons/Grupo323.svg');
}

.icon-circle-sb {
    background-size: 30px 30px;
    width: 30px!important;
    height: 30px!important;
    background-image: url('../img/icons/icon-simple-circle.svg');
}

.icon-simple-circle-yellow {
    background-size: 30px 30px;
    width: 30px!important;
    height: 30px!important;
    background-image: url('../img/icon-simple-circle-yellow.svg');
}

.icon-simple-circle-blue {
    background-size: 30px 30px;
    width: 30px!important;
    height: 30px!important;
    background-image: url('../img/icon-simple-circle-blue.svg');
}

.icon-simple-circle-green {
    background-size: 30px 30px;
    width: 30px!important;
    height: 30px!important;
    background-image: url('../img/icon-simple-circle-green.svg');
}

.icon-simple-circle-magento {
    background-size: 30px 30px;
    width: 30px!important;
    height: 30px!important;
    background-image: url('../img/icon-simple-circle-magento.svg');
}

.icon-simple-arrow {
    background-size: 21px 21px;
    width: 21px!important;
    height: 21px!important;
    background-image: url('../img/icon -onic-ios-arrow-forward.svg');
}

.icon-arrow-left {
    background-size: 21px 21px;
    width: 21px!important;
    height: 21px!important;
    margin: auto;
    background-image: url('../img/icon-feather-arrow-left.svg');
}

.icon-arrow-left-blue {
    background-size: 21px 21px;
    width: 21px!important;
    height: 21px!important;
    margin: auto;
    background-image: url('../img/icon-feather-arrow-left-blue.svg');
}

.icon-plus-white {
    background-size: 21px 21px;
    width: 21px!important;
    height: 21px!important;
    margin: auto;
    background-image: url('../img/icon-feather-plus-white.svg');
}

.icon-arrow-left-circle-white {
    background-size: 27px 27px;
    width: 27px!important;
    height: 27px!important;
    margin: 0 auto;
    background-image: url('../img/icon-feather-arrow-left-circle-white.svg');
}

.icon-gota-blue {
    background-size: 27px 27px;
    width: 27px!important;
    height: 27px!important;
    margin: 0 auto;
    background-image: url('../img/icon-feather-droplet-blue.svg');
}

.icon-folder-blue {
    background-size: 27px 27px;
    width: 27px!important;
    height: 27px!important;
    margin: 0 auto;
    background-image: url('../img/icon-feather-folder-blue.svg');
}

/* --------------------   COLORS   ---------------- */

.white {
    color: #fff
}

.wf-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: bold
}

/* ==============    INPUT =================*/

.container-input {
    display: flex;
    width: 100%;
    height: 54px;
    margin-top: 7px;
    background-color: white;
    vertical-align: middle;
    border-radius: 8px;
}

.label_input {
    font-size: 18px;
    font-weight: 500;
}

.wf-input {
    width: 100%;
    /* margin-top: 6px; */
}

.wf-select {
    width: 100%;
    padding: 5px 6px;
}

.wf-input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* input, select {
    border-radius: 8px;
    min-height: 54px;
    border: none;
}

input:-internal-autofill-selected {
    background-color: white !important;
}

input:focus-visible {
    outline: none;
    outline-offset: none;
}

select:focus-visible {
    outline: none;
    outline-offset: none;
} */

/* ==============    </>  =================*/

input, select, button {
    font-size: 20px
}

#svg-login-top {
    margin-top: 20px;
    width: 56px;
    height: 42px;
    right: 17px;
    position: absolute;
    display: block;
    background-size: cover;
    background-image: url('../img/Grupo422.svg');
}

#svg-login-bottom {
    margin-top: 20px;
    width: 20px;
    height: 43px;
    left: 8px;
    bottom: 0;
    position: absolute;
    display: block;
    background-size: cover;
    background-image: url('../img/Grupo423.svg');
}

.wf-img_background {
    background-image: url('../img/bg-login.jpg');
}

#wf-logo {
    width: 68px;
    height: 68px;
    border-radius: 40px;
    border: solid 2px var(--green);
    background-size: cover;
    background-image: url('../img/Emp27.png');
}

#wf-mask-background {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, .69);
}

.wf-container {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: red;
}

.wf-container-form {
    padding: 45px 20px;
    position: relative;
}

/* ==============    BUTTON =================*/

.wf-btn {
    border: none;
    border-radius: 8px;
    height: 54px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wf-btn:active {
    transform: scale(.98);
    transition: transform .5s;
}

.wf-btn-primary {
    color: white;
    background-color: var(--primary);
}

.wf-btn-outline {
    background: transparent;
    color: var(--green);
    border: 1px solid var(--green);
}

.wf-btn-link {
    background: transparent;
    color: white;
    text-decoration: underline;
}

#btn-bottom {
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    font-size: 16px;
}

/* ==============    </>  =================*/

/* ==============    DIVIDER     =================*/

.wf-divider {
    /* border-bottom: solid .2px white; */
    margin: auto;
    width: 95%;
    height: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* position: relative;*/
    background-size: cover;
}

/* ==============    </>  =================*/

/* ==============    NAVBAR     =================*/

.navbar {
    height: 82px;
    width: 100%;
    text-decoration: none;
    position: relative;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.navbar li {
    text-decoration: none;
    list-style: none;
}

.container_icon_menu_nav {
    text-align: left;
    position: absolute;
    left: 0;
    top: 40%;
    display: flex;
}

.container_txt_nav {
    text-align: right;
    position: absolute;
    right: 0;
    top: 25%;
    margin-right: 20px
}

.txt_label_nav {
    font: size 12px;
    font-weight: 600;
    color: var(--blue)
}

.txt_counter_nav {
    font-size: 18px;
    font-weight: 700;
    color: var(--green-dark)
}

/* ==============    BOTTOM     =================*/

.container_icon_bottom {
    list-style: none;
    text-align: left;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    height: 80px;
    z-index: 10;
    justify-content: center;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.circle {
    width: 54px;
    background-color: white;
    color: white;
    border-radius: 32px;
    height: 54px;
    padding: 0;
    margin: auto;
    border: white solid 1px;
}

.circle:hover {
    border: var(--gray) solid 1px;
}

.circle:active {
    background-color: #EBE7E7;
}

.circle>a>span {
    margin: 15px auto;
}

/* ==============    SIDEBAR     =================*/

#sidebar {
    top: 0;
    width: 100%;
    position: absolute;
    min-height: 100vh;
    max-height: initial;
    background: white;
    z-index: 200;
    animation-name: rotate_sidebar;
    animation-duration: .7s;
}

.sidebar-close {
    animation-name: rotate_sidebar_close!important;
    animation-duration: .7s;
}

.img-rounded {
    border-radius: 100%;
}

.img-small {
    width: 60px;
    height: 60px;
}

#sidebar-img-logo {
    margin: 0 10px
}

.btn-close {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.sidebar_section_middle {
    width: 100%;
    min-height: 118px;
    display: inline-flex;
    z-index: 100;
    position: relative;
    background-color: white;
}

.sidebar-txt-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px
}

.sidebar-middle-container-top-left {
    text-align: left;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
}

.sidebar-middle-container-top-rigth {
    position: relative;
    width: 30%;
}

#svg-sidebar-middle-top {
    margin-top: 20px;
    width: 56px;
    height: 42px;
    right: 17px;
    position: absolute;
    display: block;
    background-size: cover;
    background-image: url('../img/Grupo424.svg');
}

.sidebar_section_header {
    vertical-align: middle;
    width: 100%;
    height: 82px;
    align-items: center;
    position: relative;
    display: inline-flex;
    background-color: var(--primary);
}

.miga {
    border-radius: 14px;
    width: max-content
}

.bg-green-dark {
    background-color: var(--green-dark)
}

.txt-rol {
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px;
}

.txt-user {
    font-size: 20px;
    padding: 6px;
    margin: 5px;
}

.sidebar-menu-item {
    max-width: 100%;
    min-height: 58px;
    position: relative;
}

.sidebar-menu-item:active {
    background-color: #E2EDFF
}

.sidebar-menu-item a {
    font-size: 20px;
    padding-top: 17px;
    padding-left: 10px;
    text-decoration: none;
    display: flex;
    height: 58px;
    vertical-align: middle;
    color: #707070;
}

.sidebar-menu-item a:active {
    color: var(--blue);
    background-color: #E2EDFF
}

/* ==============    HOME PAGE     =================*/

.home-container {
    background-color: #F2F2F2;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.svg-home {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url('../img/Grupo273.svg');
}

.accordion {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 9px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion-child-bg {
    border-radius: 9px;
    background-color: #0950C9
}

.wf-active, .wf-accordion:hover {
    background-color: var(--primary);
}

.wf-panel {
    padding: 10px 5px;
    display: none;
    background-color: var(--primary);
    overflow: hidden;
    border-radius: 9px;
}

.container-cursos {
    background-color: var(--primary);
    width: 95%;
    margin: auto;
    z-index: 20;
    border-radius: 9px;
}

.course-container {
    background-color: white;
    display: flex;
    border-radius: 9px;
    padding: 5px
}

.course-img {
    width: 30%;
    padding: 5px;
    background-color: red;
    border-radius: 9px
}

.course-desc {
    width: 70%;
}

.img-course {
    width: 100%;
    height: 115px
}

.course-txt-title {
    color: var(--primary);
    font-size: 16;
    font-weight: 900;
}

.course-txt-desc {
    font-size: 14;
    font-weight: 500;
}

.course-separator {
    background-color: var(--green);
    width: 80%;
    height: 4px;
    border-radius: 10px;
    margin: 5px 0;
}

/* ==============    HOME COURSE     =================*/

.container_rigth_nav {
    position: absolute;
    right: 0;
    top: 35%;
    display: flex;
    margin-right: 20px
}

.home-course-section-1 {
    width: 100%;
    background-image: url('../img/Grupo427.svg');
    height: 100px;
    position: relative; 
}

#wf-mask-background-course {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    /* background: rgb(2,0,36); */
    background: var(--primary);
}

.txt-name-course {
    font-size: 18px;
    font-weight: 600;
}

.flex {
    display: flex;
}

.w-7 {
    width: 70%;
}

.w-6 {
    width: 60%;
}

.w-5 {
    width: 50%;
}

.w-4 {
    width: 40%;
}

.w-3 {
    width: 30%;
}

.grid-middle {
    align-items: center;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    padding: 0 5px;
}

.grid {
    display: grid;
}

.grid-title {
    grid-template-columns: 3fr 1fr;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 78px
}

.grid-title-sesion {
    grid-template-columns: 4fr 1fr;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 78px
}

.grid-title-resolve {
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 78px
}

.grid-title-examn {
    grid-template-columns: 1fr;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 78px;
    text-align: center;
}

.grid-stats {
    grid-template-columns: 1fr;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 43px;
    text-align: center;
}

.h-70 {
    height: 70;
    grid-template-rows: 70;
}

.txt-date-course {
    font-size: 14px;
    font-weight: 800;
}

.txt-right {
    text-align: right;
}

.content-blank {
    width: 100%;
    min-height: 100vh;
}

.bg-default-course {
    background-image: url('../img/fondoportada_713.jpg');
}

.container-btn {
    padding: 0px 10px;
    width: 95%;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.center {
    justify-content: center;
    align-items: center;
}

/* ==============    SESSION EXAMN     =================*/

.text-center {
    text-align: center;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-text-ellipsis {
    white-space: normal!important;
}

.container-progress {
    width: 100%;
    height: 8px;
    background: #FFD8E3;
}

.progress {
    background: var(--red);
    width: 0%;
    height: 100%;
    transition: all 1s ease-in;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 15px;
}

/* ==============    TABS     =================*/

/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 15px;
    display: initial;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.tab button>i {
    color: black
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    color: white;
    animation: mymove .5s;
    background-color: var(--primary);
    transition: transform .5s ease-in;
}

.tab button.active>i {
    color: white;
    display: none;
}

.txt-tab {
    display: none;
    font-size: 14px;
}

.tab button.active span {
    color: white;
    display: block
}

.show_tab {
    display: block!important;
}

/* Style the tab content */

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

#tab {
    margin: 0px auto;
    width: 90%;
    display: none;
    margin-bottom: 15px;
}

.tablinks {
    min-height: 54px;
    display: contents;
}

.w-200 {
    width: 200px;
}

@keyframes mymove {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes mymovebtn {
    from {
        transform: scale(.97);
    }
    to {
        transform: scale(1);
    }
}

@keyframes mymoveout {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.5);
    }
}

/* ==============    SMARTBOOK  =================*/

.container-smartbook {}

.img-smartbook-portada {
    width: 100%;
    height: 178px;
}

.mask-smartbook-portada {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    position: absolute;
    width: 100%;
    height: 178px;
    opacity: .72;
}

.title-smartbook {
    position: absolute;
    z-index: 120;
    display: block;
    padding: 5px;
    height: 178px;
}

.m-auto {
    margin: 0 auto
}

.txt_title_smartbook {
    font-size: 3.8rem;
    opacity: .5;
    width: 100%;
    margin-top: 40px;
    font-weight: 600;
}

.txt_subtitle_smartbook {
    font-size: 25px;
    width: 250px;
    font-weight: 600;
}

#btn-config-smartbook {
    position: absolute;
    bottom: -30px;
    right: 20px;
}

.container-option-smartbook {
    width: 100%;
    position: relative;
    z-index: 100;
    height: 100px;
    cursor: pointer;
}

.grid-container-option-smartbook {
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
}

.container-option-smartbook:active {
    background: rgb(224, 224, 223);
    animation: mymovebtn .5s;
}

.txt_title_option {
    font-size: 20px;
}

.txt_subtitle_option {
    font-size: 12px;
}

.color_svg {
    fill: indigo;
}

@media only screen and (max-width: 426px) {
    .txt_title_smartbook {
        font-size: 4.2rem;
    }
}

@media only screen and (max-width: 376px) {
    .txt_title_smartbook {
        font-size: 3.7rem;
    }
}

@media only screen and (max-width: 330px) {
    .txt_title_smartbook {
        font-size: 3rem;
        opacity: .5;
        width: 100%;
        margin-top: 40px;
    }
}

/* ========== modal ================ */

.modal-container {
    background: rgba(0, 0, 0, .5);
    z-index: 150;
    position: fixed;
    padding: 1rem 0;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    min-width: max-content;
    left: 0%;
    width: 100%;
    height: 100vh;
}

.modal {
    background: white;
    border-radius: 15px;
    margin: 0 2%;
    z-index: 152;
    position: fixed;
    padding: 1rem 0;
    top: 30%;
    left: 0;
    right: 0;
    min-width: 90%;
    left: 0%;
    box-shadow: 2px 0px 24px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 0px 24px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 24px -10px rgba(0, 0, 0, 0.75);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul li a {
    display: block;
}

.icon-close-modal {
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
}

.icon-close-modal:active {
    background: rgb(180, 0, 0);
}

.config-list {
    margin-top: 40px;
}

.config-list li {
    width: 100%;
    color: var(--blue);
}

.config-list li a {
    display: block;
    font-size: 20px;
    padding: 27px 0;
    padding-left: 10px;
    align-items: center;
    text-align: left;
    color: black
}

.config-list li a:active {
    background: var(--gray);
    color: var(--blue)
}

.config-container {}

.item-parent {
    display: block;
}

.sidebar-menu-subitem {
    display: none;
    margin-left: 20px;
}

.visible {
    display: block;
}

.select-item {
    background: rgb(243, 243, 243)
}

.select-item a {
    color: black
}

.icon-toogle {
    position: absolute;
    right: 0;
    top: 20px;
    transition: transform .3s
}

.icon-toogle-active {
    transform: rotate(-90deg);
    transition: transform .5s
}

/* ========== MODAL CONFIGURATION PRONUCIATION ================ */

.container-input-modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.txt-label-modal {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

#modal_setting .modal {
    bottom: 0;
    margin: 0;
    top: auto
}

.title-modal-setting {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--primary)
}

textarea, input, select {
    border: solid 0.4px #707070;
    border-radius: 8px;
    padding: 5px;
    font-size: 20px;
}

#select_voices {
    border: solid 0.4px #707070;
}

/* ========== VIEW DETAIL SMARTBOOK ================ */

.img-smartbook-portada-detail {
    width: 100%;
    height: 75px;
}

.mask-smartbook-portada-detail {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    position: absolute;
    width: 100%;
    height: 75px;
    opacity: 1;
    z-index: -1;
}

#btn-config-smartbook-detail {
    position: absolute;
    bottom: -50px;
    right: 10px;
}

.container-smartbook-detail {
    display: flex;
    height: 85px;
}

.csd-section1 {
    width: 12%;
    padding: 10px;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.csd-section2 {
    width: 85%;
    padding: 1% 15px 5px;
    flex-direction: column;
}

.csd-section2-top {
    margin-top: 5px;
    position: relative;
    height: 50%
}

.csd-section2-bottom {
    height: 50%;
    position: relative;
}

.txt_title_smartbook-detail {
    font-size: 35px;
    opacity: .15;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.txt_subtitle_smartbook-detail {
    font-size: 20px;
    width: 250px;
    font-weight: 500;
}

.txt-type-smartbook {
    padding: 4px 15px;
    font-weight: 700;
    font-size: 12px
}

.separator-detail-arrow {
    width: 1px;
    height: 50px;
    background: white;
    position: absolute;
    right: 0;
    top: 14px;
}

/* ===================== VIEW TAREAS ========================== */

.container-top-detail {
    background-color: #F2F2F2;
    display: flex;
    height: 75px;
}

.container-title {
    height: 75px;
    display: flex;
    align-items: center;
}

.container-content {
    background-color: #F5F5F5;
    padding: 15px;
    position: relative;
    z-index: 1;
    height: calc(100vh - 167px);
}

.svg-wallpaper {
    width: 100%;
    position: absolute;
    height: calc(100vh - 167px);
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-image: url('../img/Grupo273.svg');
}

.z-10 {
    z-index: 100;
    height: calc(100vh - 167px);
}

.container-task-main {
    height: calc(100vh - 300px);
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.mask-wallpaper {}

.grid-task01 {}

.flex-column {
    flex-direction: column;
}

.txt-title-section {
    font-size: 20px;
    color: darkblue;
    margin-bottom: 15px;
}

select ::placeholder {
    color: #707070
}

select {
    color: #707070
}

.container-section2 {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: row;
}

.container-section21 {
    height: 75px;
    display: flex;
    align-items: center;
    width: 75%;
}

.container-portafolio {
    height: 60px;
    width: 100%;
    display: flex;
}

.grid-portafolio {
    width: 100%;
    background-color: white;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    grid-template-rows: auto;
    border-radius: 9px;
}

.s-1 {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    text-align: center;
}

.s-3 {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    text-align: center;
}

.container-folder {
    background-color: white;
    width: 100%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
}

.txt-root-s2 {
    font-size: 20px;
    color: gray;
    padding-left: 7px;
}

.grid-content-folder {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 60px;
    align-items: center;
}

 #modal_btn_add {
   top: 150px;
   visibility: hidden;
   min-width: min-content;
   left: auto;
} 

.container .modal {
    margin: 1px;
    position: fixed;
    padding: 0;
    justify-content: flex-end;
    max-width: 90vw;
    display: flex;
    right: 0;
    top: 150px;
    left: auto;
    visibility: hidden;
    justify-items: flex-end;
    min-width: min-content;
}

.header-modal .title-modal {
    font-size: 18px;
    width: 85%;
    margin: 15px 1px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--primary);
}

.modal .header-modal {
    min-width: 300px;
    width: 100%;
    display: flex;
}

.content-modal {
    width: 300px;
}

.rotate-icon-plus {
    transform: rotateZ(45deg);
}

.icon-plus-white {
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content-modal .grid-option {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px;
    align-items: center;
    background-color: transparent;
}

.display {
    visibility: visible!important;
}

.btn-visited {
    /* background-color: rgb(0 0 0 / 9%)!important; */
}

.btn-visited:active, .btn-visited:focus, .btn-visited:link, .btn-visited:focus-visible {
    background-color: rgb(0 0 0 / 9%);
}

#modal_fondo {
    top: 235px;
    
    visibility: hidden;
    min-width: min-content;
    left: auto;
}
#modal_new_object{
    visibility: hidden;
    display: flex;
}
/* ==============    </>  =================*/
p{
    margin-bottom: 0!important;
}
@keyframes rotate_sidebar {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes rotate_sidebar_close {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

@keyframes rotate_sidebar_close {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}