contenbody{
    background: #f4f4f4;
    color: #555;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar:horizontal {
    height: .5em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

header{
    background-color: rgb(68, 102, 187);
    height: 60px;
}

#logo>img{
    max-height:58px;
}

.navbar{
    border: 0px;
    background: transparent;
}
.navbar-brand{
    float: none;
    padding: 0px;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #274aa3;
}
.navbar-nav{
    margin: 0;
}
.navbar-collapse{
    padding: 0;
    display: none
    height: 1px;
}
.navbar-toggle .icon-bar{
    background-color: white;
}

.menutop1>li{
    background-color: rgb(68, 102, 187);
    float: left;
    /*width: 33%; /* *** SOLO PARA 5 ICONOS *** */
    z-index: 1040 !important;
}
.menutop1 li a{
    color: #FFF;
    font-size: 2em;
    /*text-align: center;*/
}
.menutop1 li a .badge{
    position: absolute;
    bottom: 5px;
    right: 3px;
    color: #FFF;
}
.changerol{
    cursor: pointer;
    border-bottom: 1px dashed #5a89f8;
}

.input-group{
    margin-top: 15px;
}

.bolder{ font-weight: bolder; }
.italic{ font-style: italic; }
.underline{ text-decoration: underline; }

.color-primary{ color: #337ab7; }

.color-info{ color: #46b8da; }

.color-success{ color: #3c763d; }

.color-danger{ color: #a94442; }

.color-warning{ color: #8a6d3b; }

.dropdown-menu{
    border: 1px solid #ccc !important;
    padding: 0px;
    width: 250px !important;
}

.dropdown-menu li{
    padding: 0 8px;
}

.dropdown-menu li>a{
    border-bottom: 1px #ccc solid;
    color: #444;
    font-size: 0.85em;
    padding: 10px 2px;
}

.dropdown-menu>li.dropdown-header{
    background-color: #ecf2f7 !important;
    border-bottom: 1px solid;
    border-bottom-color: #bcd4e5;
    color: #8090a0;
    font-weight: bold;
    line-height: 34px;
    padding: 0 !important;
    text-align: center;
    text-shadow: none;
    text-transform: none;
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

li.dropdown-header .btn, li.dropdown-footer .btn{
    border: 0;
    border-radius: 0;
    font-size: 13px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 100%;
}

li.dropdown-footer .btn:hover, li.dropdown-header .btn:hover{
    color: white;
    background-color: #4F99C6 !important;
}

li.dropdown-footer{
    background-color: #ecf2f7 !important;
    padding: 0;
    position: relative;
}

.dropdown-menu>li.dropdown-content{
    overflow: auto;
    background-color: white;
    padding: 0;
    max-height: 200px;
}

li.dropdown-content>ul{
    border-width: 0;
    box-shadow: none;
    display: block;
    float: none;
    list-style: none;
    margin: 0;
    padding: 0 !important;
    position: static;
    width: auto;
    z-index: auto;
    -webkit-box-shadow: none;
}

li.dropdown-content>ul a{
    display: table;
}

.dropdown-menu a.msg:hover{
    background-color: aquamarine;
}

.dropdown-menu .msg-photo{
    max-width: 30%;
}

.dropdown-menu .msg-body{
    display: inline-block;
    line-height: 20px;
    max-width: 70%;
    padding-left: 7px;
    vertical-align: middle;
    white-space: normal;
}

.dropdown-menu .msg-title{
    display: inline-block;
    line-height: 14px;
}

.dropdown-menu .msg-time, .dropdown-menu .notif-time{
    display: block;
    font-size: 11px;
    color: #777;
}

.dropdown-menu a.activity:hover{
    background-color: bisque;
    text-decoration: none;
}

.dropdown-menu a.notification:hover{
    background-color: khaki;
    text-decoration: none;
}

.dropdown-menu .activity, .dropdown-menu .notification{
    display: block;
}

#account{
    white-space: nowrap;
}
.user-menu{
    background: white !important;
    width: 320px !important;
    font-size: 10pt;
}

.user-menu a:hover{
    /*background: transparent !important;*/
}

.user-menu>.account-info{
    margin: 20px;
    overflow: hidden;
}

.account-info>.user-photo{
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.account-info>.user-photo>img{
    height: 96px;
    border-radius: 50%;
}

.account-info>.data-user{
    display: inline-block;
    vertical-align: top;
}

.data-user>.user-name{
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
}

.data-user button,.data-user .btn-profile{
    margin-top: 10px;
    font-size: 1em;
}

.user-menu>.action-buttons{
    background: #f5f5f5;
    border-color: rgba(0,0,0,.2);
    border-top: 1px solid #ccc;
    display: table;
    padding: 10px 0;
    width: 100%;
}

.action-buttons>div{
    display: table-cell;
    text-align: right;
}
.action-buttons>div:first-child{
    text-align: left;
}

.action-buttons>div a{
    font-size: 1em;
    color: #333;
    margin: 0 10px;
}
.action-buttons>div a:hover{
    color: #111;
}

.badge.bg-info{ background-color: #4F99C6 !important; color: white;}
.badge.bg-warning{background-color: #d58512 !important; color: white;}
.badge.bg-danger{background-color: #D15B47 !important; color: white;}
.badge.bg-success{background-color: #398439 !important; color: white;}
.menutop1 li a:hover{background: #274aa3;}

.nav-list{margin:0; padding:0; list-style: none;}

.sidebar-left, .sidebar-right{
    background: #f4f4f4;
    /*border:1px red solid; */
    display: none;
    min-height: 500px;
    margin-top: 60px;
    overflow: auto;
    padding: 0 15px;
    position: absolute;
    top: 0px;
    z-index: 300;
}

.sidebar-left{
    left: 0px;
    box-shadow: 15px -10px 8px -14px #777;
}

.sidebar-right{
    right: 0px;
    box-shadow: -15px -10px 8px -14px #777;
}

.sidebar-toogled{
    display: initial;
}

.toolbar{
    background: #f4f4f4;
    border-top: 1px black solid;
    box-shadow: -15px -10px 8px -14px #777;
    display: none;
    margin-top: 60px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.toolbar-toggled{
    display: initial;
}

.toolbar-option{
    padding: 0;
}

.toolbar .btn-toolbar{
    background-color: #f4f4f4;
    border-bottom: 1px black solid;
    border-radius: 0;
    color: #555;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.btn-toolbar>i{
    font-size: 2.5em;
}

.toolbar .btn-toolbar:hover{
    background-color: #555;
    color: #f4f4f4;
}

.page-content{
    background: #fff;
    padding-left: 24px; 
    padding-right: 24px;
    z-index: 100;
}
.padding-0{ padding: 0px; }
/*
.page-content-toggled-right, .page-content-toolbar{
    border-right: 1px solid #ccc;
}

.page-content-toggled-left{
    border-left: 1px solid #ccc;
}
*/
.widget-box{
    border: 1px solid #CCC;
    box-shadow: none;
    margin: 10px 0px;
    padding: 0;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(136,136,136,0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(136,136,136,0.5);
    box-shadow: 0px 0px 7px 0px rgba(136,136,136,0.5);
}

.widget-header{
    background: #f7f7f7;
    border-bottom: 1px solid #DDD;
    box-sizing: content-box;
    color: white;
   /* min-height: 60px;*/
    padding-left: 15px;
    position: relative;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.bg-primary{ background-color: #337ab7; color: #ffffff;}
.bg-success{ background-color: #5cb85c; color: #ffffff;}
.bg-info{ background-color: #5bc0de; color: #ffffff;}
.bg-warning{ background-color: #f0ad4e; color: #ffffff;}
.bg-danger{ background-color: #d9534f; color: #ffffff;}
.bg-default{ background-color: #ddd; color: #777; }

.border-left{ border-left: 1px solid #ccc; }
.border-right{ border-right: 1px solid #ccc; }
.border-top{ border-top: 1px solid #ccc; }
.border-bottom{ border-bottom: 1px solid #ccc; }

.widget-header>.widget-title{
    line-height: 50px;
    padding: 0;
    margin: 0;
    display: inline;
    vertical-align: middle;
    text-transform: capitalize;
}

.widget-header>.widget-title>i{
    font-size: 1.8em;
    position: absolute;
    top: 10px;
}

.widget-header>.widget-title>span{
    margin-left: 2.3em;
}

.widget-none-header{
    min-height: 369px !important;
}

.widget-none-header .widget-main{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.widget-banner{
    max-height: 180px;
    overflow: hidden;
    padding: 0;
}

.widget-body {
    background-color: #FFF;
    padding: 0 15px;
    overflow: auto;
}

.widget-corner:after{
    border-bottom: 45px solid #5a89f8;
    border-left: 80px solid transparent;
    border-right: 80px solid #5a89f8;
    border-top: 45px solid transparent;
    bottom: 10px;
    content: "";
    position: absolute;
    right: 15px;
    z-index: 0;
}

.widget-main {
    padding: 15px 0;
}

#setting-textbox ol{
    padding-left: 30px;
}

#setting-textbox ol>li{
    padding-left: 0;
    margin-bottom: 10px;
}

#setting-textbox ol>li .item-title{
    font-weight: bolder;
    text-transform: capitalize;
}

#setting-textbox ol>li input{
    margin-top: 7px;
}

.timetable{
    display: table;
}

.timetable>.timetable-header{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timetable>.timetable-body{
    display: block;
    width: 100%;
}

.timetable-body>.timetable-row{
    overflow: hidden;
}

.timetable-row>.descrip, .timetable-row>.time{
    float: left;
    margin-top: 7px;
    width: 50%;
}

.timetable-row>.descrip{
    text-align: left;
}

.timetable-row>.time{
    text-align: right;
}


.levels-btns{
    padding-left: 0px;
    padding-right: 30px;
}

.levels-btns>div{
    text-align: center;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #aaa;
    content: "\f101";
    font: normal normal normal 14px/1 FontAwesome;
}
.dropdown.open{
    /*width: 50%;*/
}
.btn.btn-app {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    border: none;
    padding: 12px 0 8px;
    margin: 2px;
    line-height: 1.7;
    position: relative;
}
.btn.btn-app>.app-icon {
    display: block;
    font-size: 42px;
    margin: 0 0 4px;
    line-height: 36px;
    min-width: 0;
    padding: 0;
}

.btn.btn-app.btn-sm {
    width: 80px;
    font-size: 16px;
    line-height: 1.5;
}
.btn.btn-app.btn-sm>.app-icon {
    display: block;
    font-size: 32px;
    line-height: 30px;
    margin: 0 0 3px;
}

.btn.btn-app.btn-xs {
    width: 64px;
    font-size: 15px;
    padding-bottom: 7px;
    padding-top: 8px;
    line-height: 1.45;
}
.btn.btn-app.btn-xs>.ace-icon {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}
.btn-circle{
    border-radius: 50% !important;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.btn-container{
    padding: 5px;
}

.btn{
    border-radius: 0;
    position: relative;
	font-size:16px;
    /*text-transform: capitalize;*/
}

.btn-xs{
    font-size: 0.9em !important;
}

.btn-lg {
    font-size: 1.29em !important;
}

.btn-panel-container{
    margin-top: 10px;
    display: table;
}

.btn-panel-container>.btn-panel{
    /*align-items: flex-start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;*/
    display: table-cell;
    font-size: 1.8em;
    height: 370px;
    line-height: 1.5;
    white-space: initial;
}
.btn-panel-container.panelcont-xs>.btn-panel{
    height: 180px;
}

.btn-panel>.btn-icon {
    display: block;
    font-size: 2em;
}
.btn-panel-container.panelcont-xs>.btn-panel>.badge{
    background: #ECF0F1;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    font-size: .6em;
    height: 35px;
    padding-top: 7px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 35px;
}
.btn.tooltip, a.tooltip, button.tooltip, div.tooltip, span.tooltip{
    z-index: 100;
}

.btn-inline{
    display: inline-block;
}

.btn-block{
    display: block;
}

.btn:focus, .btn:hover{
    box-shadow: 0px 3px 7px 0px rgba(136,136,136,0.5);
}
.btn.disabled:focus, .btn.disabled:hover,
.btn[disabled]:focus, .btn[disabled]:hover{
    box-shadow: none !important;
}

.btn-square{
    min-height: 120px;
    width: 100%;
    margin-bottom: 3.4px;
}

.btn-square>.btn-label{
    display: block;
    font-size: 1.5em;
    text-align: left;
    /*text-transform: uppercase;*/
}

.btn-square>.btn-information{
    bottom: 10px;
    font-size: 1.8em;
    left: 20px;
    position: absolute;
}

.btn-square>.btn-icon{
    bottom: 0;
    font-size: 3.2em;
    position: absolute;
    right: 2px;
    top: initial;
}

.btn-rectangle{
    min-height: 90px;    
    min-width: 100%;
}

.btn-rectangle>.btn-label{
    bottom: 0px;
    font-size: 1.16em;
    position: absolute;
    right: 3px;
    text-align: right;
   /* text-transform: uppercase;*/
}

.btn-rectangle>.btn-information{
    font-size: 2.5em;
    right: 20px;
    position: absolute;
    top: 0;
}

.btn-rectangle>.btn-icon{
    font-size: 3.9em;
    left: 3px;
    position: absolute;
    top: 3px;
}

.btn-rectangle>img.btn-icon,
.btn-square>img.btn-icon{
    height: 88px;
}

.btn-inactive{
    background-color: #d0d0d0;
    color: #ffffff;
    cursor: not-allowed;
}

.btn-inactive:hover {
    box-shadow: none;
    color: white;
}
.bookshop .book-item>picture{
    display: block;
    max-height: 160px;
    overflow: hidden;
}

.bookshop .book-item>.book-title{
    padding: 0;
    margin-top: 10px;
}

.bookshop .book-item>.book-descrip{
    padding: 0;
    margin-top: 10px;
}

input[type='radio'].radio-ctrl{
    -webkit-appearance:none;
    border:1px solid darkgray;
    border-radius:50%;
    box-shadow:0 0 5px 0px gray inset;
    height:20px;
    margin: 0 2px -5px 0;
    outline:none;
    width:20px;
}

input[type='radio'].radio-ctrl:hover{
    box-shadow:0 0 5px 0px orange inset;
}

input[type='radio'].radio-ctrl:before{
    border-radius:50%;
    content:'';
    display:block;
    height:60%;
    margin: 20% auto;    
    width:60%;
}

input[type='radio'].radio-ctrl:checked:before {
    background: #5a89f8;
}

input[type='checkbox'].checkbox-ctrl{
    -webkit-appearance:none;
    background: #fff;
    border:1px solid darkgray;
    box-shadow:0 0 5px 0px gray inset;
    height:20px;
    margin: 2px 2px -5px 0;
    outline:none;
    width:20px;
}

input[type='checkbox'].checkbox-ctrl:focus, 
input[type='checkbox'].checkbox-ctrl:hover{
    box-shadow:0 0 5px 0px orange inset;
}

input[type='checkbox'].checkbox-ctrl:before{
    display: block;
    height: 60%;
    margin: 12% 10%;    
    width: 70%;
}

input[type='checkbox'].checkbox-ctrl:checked:before {
    content:"\f00c";
    color: #5a89f8;
    font: normal normal normal 14px/1 FontAwesome;
}

.checkbox-ctrl.disabled,
.checkbox-ctrl[disabled]{
    background: #dfdfdf !important;
    cursor: not-allowed;
}

select.select-ctrl{
    -webkit-appearance:none;
    border: 2px solid #555;
    font-size: 1.3em;
    padding: 0 12px;
}

.select-ctrl-wrapper { position: relative; }

.select-ctrl-wrapper:after{
    background: #555;
    border-radius: 0 4px 4px 0;
    color: #fff;
    content: "\f0d7";
    font: normal normal normal 34px/1 FontAwesome;
    padding: 0 5px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 0;
}

.select-ctrl-wrapper.select-azul:after{ background: #4683af; }
.select-ctrl-wrapper.select-azul>select.select-ctrl{ border-color: #4683af; }

.select-ctrl-wrapper.select-orange:after{ background: #F39C12; }
.select-ctrl-wrapper.select-orange>select.select-ctrl{ border-color: #F39C12; }


.has-error .select-ctrl-wrapper:after{ background: #a94442;}
.has-error .select-ctrl-wrapper.select-azul>select.select-ctrl{ border-color: #a94442; }


.pull-right-bottom{
    bottom: 25px;
    position: absolute;
    font-size: 1.3em;
    right: 25px;
    text-transform: capitalize;
}

.test-advice>.test-header{
    top: 5px;
    height: 100px;
    font-weight: bolder;
    position: absolute;
    right: 25px;
    text-align: right;
    text-transform: uppercase;
}

.test-advice img[alt="Teacher"]{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.test-advice img[alt="Clock"]{
    margin-top: 100px;
}

.test-advice>.test-body{
    
}

.test-body>.test-descrip{
    margin-left: 20px;
    width: 80%;
}

.test-advice>.test-button{
    bottom: 13px;
    position:absolute;
    right: 30px;
    z-index: 100;
}

.test-advice>.test-button>a{
    color: white;
    font-size: 3em;
}

.capitalize, .tooltip{
    text-transform: capitalize;
}

/* BARRA NAV de docente y admin */
.selector-bottom {
     width: 0;
     height: 0;
     border-right: 10px solid transparent;
     border-top: 10px solid transparent;
     border-left: 10px solid transparent;
     border-bottom: 10px solid #2E64FE;
     margin-bottom: -15px;
}

.main{
    background-color: #f2f2f2;
}

/* Global CSS that are applied for all screen sizes */
.menutop2{
    box-shadow: 0px 5px 18px -8px #555;
    overflow: hidden;
    position: relative;
}

.menutop2 ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    font-weight: 10;
}

.menutop2 li span {
    display: block;
    text-transform: capitalize;
}

.menutop2 a {
    display: block;
    color: #555;
    text-decoration: none;
    -webkit-transition: color .2s, background .2s, height .2s;
    -moz-transition: color .2s, background .2s, height .2s;
    -o-transition: color .2s, background .2s, height .2s;
    -ms-transition: color .2s, background .2s, height .2s;
    transition: color .2s, background .2s, height .2s;
}

.menutop2 a:hover{
    background: #ddd;
}

.menutop2 i{
    /* Make the font smoother for Chrome */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


footer.row{
    background-color: rgb(88,88,90);
    color: #f4f4f4;
    margin: 0;
    font-size: 0.9em;
}

footer.row div:first-child{
    padding-top: 2em;
    padding-left: 2em;
}

footer.row div:nth-child(2){
    padding: 0;
}

#modalcontent>div.seliplantilla{
    height: 190px;
    margin-bottom: 2em;
    cursor: pointer;
}

#modalcontent>div.seliplantilla:hover>div{
    box-shadow: 0px 3px 7px 0px rgba(136,136,136,0.5);
}

#modalcontent div.seliplantilla .nametpl{
    color:  white;
    font-size: 1em;
}

#modalcontent div.seliplantilla>div{
    min-height: 100%;
}

.modal-body{
    max-height: 650px;
    overflow: auto;
}

/* ACTIVIDAD.php */
#actividad-header .actividad-title{
    background: #5cb85c;
    border: 3px solid #4cae4c;
    color: white;
    padding: 15px;
   /* text-transform: capitalize;*/
}

#actividad-body .metodologias li>a{
    font-size: 1.8em;
    font-weight: bolder;
   /* line-height: 55px;
    min-height: 55px;*/
    padding: 0.5em;
 /*   text-transform: capitalize;*/
}

#actividad-body .metodologias li:nth-child(1)>a{ color:#fc5c5c; background-color: #fdf0f0;}
#actividad-body .metodologias li:nth-child(1).active>a{ color:#fff; background-color: #fc5c5c;}

#actividad-body .metodologias li:nth-child(2)>a{ color: #f5ab40;background-color: #fff6e9; }
#actividad-body .metodologias li:nth-child(2).active>a{ color:#fff; background-color: #f5ab40; }

#actividad-body .metodologias li:nth-child(3)>a{ color: #5a89f8;background-color: #ecf2ff; }
#actividad-body .metodologias li:nth-child(3).active>a{ color:#fff; background-color: #5a89f8; }

#contenedor-paneles{
    /*position: absolute;*/
    left: 1.5%;
    overflow: hidden;
    top: 0.6%;
    z-index: 10;
}

.panel-info{
    background: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bolder;
    margin-left: 2.05em;
    text-align: center;
    width: 120px;
    z-index: 100;
}

.panel-info:first-child{ margin: 0; }

.panel-info .titulo-panel{
    color:  #fff;
    display: block;
    font-size: .85em; 
}

.panel-info input{
    height: 25px;
    text-align: center;
}

.panel-info>.info-show{
    font-size: 1.23em;
}

#panel-intentos-dby>.titulo-panel{
    background: #5a89f8;
}

#panel-intentos-dby{
    background: #fdfdfd;
    border: 1px solid #5a89f8;
    box-shadow: inset 0px 0px 5px #5a89f8;
    color: #5a89f8;
}

#panel-intentos-dby .actual{
    font-size: 1.23em;
}

#panel-intentos-dby .total{
    font-size: 1em;
}

#panel-intentos-dby .total:before{
    content: "/\00a0";
}

#panel-intentos-dby>.btn{
    line-height: 2.8em;
    margin-left: -4px;
    min-width: 50px;
    vertical-align: top;
}

#panel-tiempo{
    border: 1px solid #6ac182;
    box-shadow: inset 0px 0px 5px #6ac182;
    color: #6ac182;
}

#panel-tiempo>.titulo-panel{
    background: #6ac182;
}


#panel-puntaje{
    border: 1px solid #7e60e0;
    box-shadow: inset 0px 0px 5px #7e60e0;
    color: #7e60e0;
}

#panel-puntaje>.titulo-panel{
    background: #7e60e0;
}

#actividad-body .tab-content{
    border: 1px solid #ddd;
    padding: 5px 15px;
    position: relative;
    min-height: 450px;
    margin-bottom: 10px;
}

#actividad-body .actividad-main-content.tab-content{
    border: 1px solid #999;
    min-height: 490px;
}

.habilidades div{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.habilidades .btn-skill{
    background-color: #b9b9b9;
    padding: 8px;
    margin-bottom: 0%;
    margin-left: 3%;
    min-height: 76px;
    width: 47%;
}


.habilidades.edicion .btn-skill:before {
    background: white;
    border: 1px solid #888;
    content: ' ';
    height: 17px;
    left: 3px;
    padding-top: 2px;
    position: absolute;
    top: 3px;
    width: 17px;
}

.habilidades.edicion .btn-skill.active:before {
    color: #777;
    content: "\f00c";
    font: normal normal normal 12px/1 FontAwesome;
}

.space-line:before {
    border: 0;
    border-top: 1px solid #ddd;
    content: " ";
    display: table;
    margin: 5px 0;
    width: 100%;
}

.tab-content .tab-title-zone,
.tab-content .tab-description{
    width: 100%;
    overflow: hidden;
}
.tab-content .tab-description{
    margin-top: 5px;
    font-style: italic;
}

.tab-content .tab-title-zone>div.btn,
.tab-content .tab-description>div.btn{
    float: left;
    z-index: 5;
}

.tab-content .tab-title-zone>h3,
.tab-content .tab-description>p{
    cursor: pointer;
    float: left;
    height: 33px;
    margin: 0;
    padding: 3px 15px;
}

.habilidades .btn-skill:nth-child(6n+1).active{ background-color: #f59440; }
.habilidades .btn-skill:nth-child(6n+2).active{ background-color: #337ab7; }
.habilidades .btn-skill:nth-child(6n+3).active{ background-color: #5cb85c; }
.habilidades .btn-skill:nth-child(6n+4).active{ background-color: #5bc0de; }
.habilidades .btn-skill:nth-child(6n+5).active{ background-color: #7e60e0; }
.habilidades .btn-skill:nth-child(6n+6).active{ background-color: #d9534f; }

/*.habilidades .btn-skill:first-child{ margin-top: 0; }*/

#actividad-body .habilidades .btn-skill:hover{cursor: pointer;}

#actividad .widget-none-header{ min-height: auto !important; }

#actividad-body .actividad-main-content ul.nav-tabs{
    margin: 0;
    float: right !important;
}

.drag-drop-word .word-space{
    border: 1px solid #ddd;
    display: inline-block;
    min-height: 2em;
    width: 8em;
}
.drag-drop-word .word-space>li{
    list-style: none;
}
.drag-drop-word .word-list{
    border: 1px solid #999;
    display: table;
    list-style: none;
    margin-top: 15px;
    min-height: 44px;
    padding: 5px;
    width: 100%;
}
.drag-drop-word .word-list>li{
    border: 1px solid #ddd;
    float: left;
    margin-right: 3px;
    padding: 5px;
}

.plantilla{
    padding: 10px;
}

.plantilla .tabPanelTitle{
    font-weight: bolder;
}

.plantilla .preview-zone{
    margin-bottom: 10px;
}

.plantilla .intentos,
.plantilla .boton-intentar{
    text-align: right;
}

.plantilla .intentos>.descripcion{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.plantilla .intentos>.nro-intento{
    background: #fcfcfc;
    border: .7em solid #ccc;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 3em;
    line-height: 1.7em;
    margin-left: 5px;
    text-align: center;
    width: 3em;
}

.plantilla .intentos>.nro-intento.active{
    border-color: #4cae4c;
    background: #e8ffe8;
    color: #4cae4c;
}

.plantilla .boton-intentar .btn{
    margin-top: 10px;
    min-width: 45%;
}

.plantilla .botones-control{
    margin-top: 3em;
    text-align: right;
}

.plantilla_arrastre ul.arrastre-list{
    list-style: none;
    padding: 0;
}
.plantilla_arrastre ul.arrastre-list>li{
    margin-top: 2px;
}
.plantilla_arrastre ul.arrastre-list>li>.btn-Add{
    margin-top: 0;
    margin-bottom: 2px;
    width: 100%
}

.plantilla_img-animada .animado-main-content .image{
    border: 1px solid #ccc;
    position: relative;
    padding: 3px;
}
.plantilla_img-animada .animado-main-content .image>.btn-file{
    position: absolute;
    top: 3px;
    left: 3px;
}
.plantilla_img-animada .animado-main-content .image img{
    max-height: 400px;
    margin: 0 auto;
}

.plantilla_img-animada .animado-main-content .text{
    padding-bottom: 1em;
    padding-top: 1em;
}
/* TODAS LAS UNIDADES */
#todas-unidades #levels,
#todas-unidades #units,
#todas-unidades #lessons{
    margin-bottom: 10px;
    margin-top: 10px;
}

#todas-unidades h3{ 
    border: 1px solid #bbb;
    background-color: #4683af; 
    color: white;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px;
   /* text-transform: uppercase;*/
}

#todas-unidades #levels>.level-wrapper, 
#todas-unidades #units>.unit-wrapper,
#todas-unidades #lessons>.lesson-wrapper{
    border: 1px solid #bbb;
    border-top: 0;
    display: block;
    max-height: 210px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    white-space: nowrap;
}

#todas-unidades #levels .level-list, 
#todas-unidades #units .unit-list,
#todas-unidades #lessons .lesson-list{
    position: relative;
}

#todas-unidades h3.level-title span, 
#todas-unidades h3.unit-title span,
#todas-unidades h3.lesson-title span{
    color: #fcab92;
}

#todas-unidades #levels .level-list .level-item, 
#todas-unidades #units .unit-list .unit-item,
#todas-unidades #lessons .lesson-list .lesson-item{
    background-image: url('img/level_book.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5%;
    display: inline-block;
    height: 154px;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

#todas-unidades #levels .level-list a:hover,
#todas-unidades #units .unit-list a:hover,
#todas-unidades #lessons .lesson-list a:hover{
    background-image: url('img/level_book_hover.png');
    text-decoration: none;
    background-color: #d0e2f0;
}


#todas-unidades #levels .item-add .level-add,
#todas-unidades #units .item-add .unit-add,
#todas-unidades #lessons .item-add .lesson-add{
   background-image: url('img/bookadd.png');
   background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5%;
    display: inline-block;
    height: 154px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    opacity: .6;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-shadow: -3px 2px 3px #333;
}

#todas-unidades #levels .item-add a.level-add:hover,
#todas-unidades #units .item-add a.unit-add:hover,
#todas-unidades #lessons .item-add a.lesson-add:hover{
    background-image: url('img/bookadd.png');
    opacity: 1;  
     text-decoration: none; 
     background-color: #d0e2f0;
}

#todas-unidades #levels .level-list .level-item.active,
#todas-unidades #units .unit-list .unit-item.active,
#todas-unidades #lessons .lesson-list .lesson-item.active{
    background-image: url('img/level_book_active.png');
    text-decoration: none;
    background-color: #9dcdf2;
}

#todas-unidades #levels .level-list a:active, #todas-unidades #levels .level-list a:focus,
#todas-unidades #units .unit-list a:active, #todas-unidades #units .unit-list a:focus,
#todas-unidades #lessons .lesson-list a:active, #todas-unidades #lessons .lesson-list a:focus{
    text-decoration: none;
    background-color: #9dcdf2;
}

#todas-unidades #levels .level-list .level-item>.level-name, 
#todas-unidades #units .unit-list .unit-item>.unit-name,
#todas-unidades #lessons .lesson-list .lesson-item>.lesson-name{
    color: white;
    font-weight: bolder;
    /*text-transform: capitalize;*/
    text-shadow: 2px 0px 3px #333;
}

#todas-unidades #levels .level-list .level-item>.level-name{
    font-size: 2.5em;
    /*padding-left: 20%;*/
    padding-top: .3em;
}

#todas-unidades #units .unit-list .unit-item>.unit-name,
#todas-unidades #lessons .lesson-list .lesson-item>.lesson-name{
    top: 13%;
    font-size: 1.5em;
    left: 22%; 
    padding: 5px;
   /* padding-left: 19%;*/
    position: absolute; 
    z-index: 99; 
}

#todas-unidades #levels .level-list>.level-item>img,
#todas-unidades #units .unit-list>.unit-item>img,
{ margin: 0 auto;}

#todas-unidades #units .unit-item>img.caratula-libro,
#todas-unidades #lessons .lesson-item>img.caratula-libro{
    height: 148px ; 
    left: 70px; 
    opacity:0.9;
    padding: 1ex; 
    position: absolute;
    transform: matrix3d(1.193304, 0.165031, 0, 0.002695, 0.010108, 1.051183, 0, 0.000108, 0, 0, 1, 0, 0, 0, 0, 1); 
    transform-origin: 0px 0px 0px; 
    z-index: 9; 
}

.table-key-value{
    border: 1px solid #DCEBF7;
    display: table;
    margin-bottom: 3ex;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    width: calc(100% - 24px);
}


.table-key-value>.table-kv-row{
    display: table-row;
}

.table-key-value>.table-kv-row>.key{
    background-color: #EDF3F4;
    border-top: 1px solid #F7FBFF;
    color: #336199;
    display: table-cell;
    font-weight: 400;
    padding: 6px 10px 6px 4px;
    text-align: right;
    vertical-align: middle;
    width: 110px;
}

.table-key-value>.table-kv-row:first-child>.key{ border-top: none; }

.table-key-value>.table-kv-row>.value{
    border-top: 1px dotted #DCEBF7;
    display: table-cell;
    padding: 6px 4px 6px 6px;
    padding-left: 12px;
}

.table-key-value>.table-kv-row:first-child>.value{ border-top: none; }

.table-key-value.table-green{ border-color: #D9F6E0; }
.table-key-value.table-green>.table-kv-row>.key{ background-color: #ECF3ED; border-color: #F4FFF7; color: #34974B}
.table-key-value.table-green>.table-kv-row>.value{ border-color: #D9F6E0; }

.table-key-value.table-red{ border-color: #F5D5D5; }
.table-key-value.table-red>.table-kv-row>.key{ background-color: #F1E9E9; border-color: #FFEFEF; color: #933333}
.table-key-value.table-red>.table-kv-row>.value{ border-color: #F5D5D5; }

/* desde 1200px hasta MAXIMO- LARGE*/
@media (min-width: 1200px) {

    #viewContent{
        position: relative;
    }
    .container-fluid {
       /* padding-left: 0px;*/
    }
    .sidebar-left, .sidebar-right{
        width: 28%;
    }
    .page-content-toggled-right, .page-content-toggled-left{
        width: 72%;
    }
    .page-content-toggled-left{
        margin-left: 28%;
    }

    .toolbar{
        width: 6%;
    }
    .page-content-toolbar{
        width: 94%;
    }

    .widget-body {
        height: 317px;
        overflow: auto;
    }
    #actividad .widget-body{ height: auto !important; }
    #actividad-body .metodologias li>a{ font-size: 1.5em; }
    /* Transforms the list into a horizontal navigation */
    .menutop2 li {
        border-left: 1px solid #888;
        float: left;
        width: 11.111111%; /* *** PARA 9 ICONOS *** */
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }
    .menutop2 li:first-child{
        border-left: none;
    }

    .menutop2 a {
        display: block;
        width: auto;
    }

    
    /* Placing the icon */
    
    .icon {
        padding-top: .5ex;
    }

    .icon + span {
        margin-top: .5ex;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Animating the height of the element*/
    .menutop2 a {
        padding-top: .5ex;
    }

    

    /* Making the text follow the height animation */
    .no-touch .menutop2 a:hover .icon + span {
        margin-top: 3.2em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Positioning the icons and preparing for the animation*/
    .menutop2 i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4ex;
        border-radius: 50%;
        font-size: 1.8em;
        box-shadow: 0 0 0 30px transparent;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }   
    
    /* Animate the box-shadow to create the effect */
    .no-touch .menutop2 a:hover i,
    .no-touch .menutop2 a:active i,
    .no-touch .menutop2 a:focus i {      
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }
}

/* desde 992px hasta 1200px - MEDIUM */
@media (min-width: 992px) and (max-width: 1199.99px) {
    .nivelContent{
        width: 30% !important;
    }
    .nameText{
        font-size: 1.0em !important;
        font-weight: bold;
    }
    .progresimg{
        width: 95% !important;
    }
    .progrsfinish{
        right: 7% !important;
    }
    .base{
            width: 95% !important;
    }
    #viewContent{
        position: relative;
    }
    .container-fluid {
        padding-left: 0px;
    }
    .sidebar-left, .sidebar-right{
        width: 28%;
    }
    .page-content-toggled-right, .page-content-toggled-left{
        width: 72%;
    }
    .page-content-toggled-left{
        margin-left: 28%;
    }

    .toolbar{
        width: 7%;
    }
    .page-content-toolbar{
        width: 93%;
    }

    .widget-body {
        height: 323px;
    }
    .widget-banner img{
        margin-top: 0px;
        width: 100%;
    }


    .btn-rectangle>.btn-label{
        font-size: 1.05em;
    }
    .btn-rectangle>.btn-icon{
        font-size: 3em;
    }

    .btn-square>.btn-label{
        font-size: 1.2em;
    }

    #actividad .widget-body{ height: auto !important; }
    #actividad-body .metodologias li>a{ font-size: 1.4em; }
     /* Transforms the list into a horizontal navigation */
    .menutop2 ul {
        font-size: 1.2em;
    }

    .menutop2 li {
        border-left: 1px solid #888;
        float: left;
        width: 11.111111%; /* *** PARA 9 ICONOS *** */
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }
    .menutop2 li:first-child{
        border-left: none;
    }

    .menutop2 a {
        display: block;
        width: auto;
    }

    
    /* Placing the icon */
    
    .icon {
        padding-top: .5em;
    }

    .icon + span {
        margin-top: .5em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Animating the height of the element*/
    .menutop2 a {
        height: 6em;
    }

    

    /* Making the text follow the height animation */
    .no-touch .menutop2 a:hover .icon + span {
        margin-top: 3.2em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Positioning the icons and preparing for the animation*/
    .menutop2 i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em;
        border-radius: 50%;
        font-size: 1.8em;
        box-shadow: 0 0 0 30px transparent;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }   
    
    /* Animate the box-shadow to create the effect */
    .no-touch .menutop2 a:hover i,
    .no-touch .menutop2 a:active i,
    .no-touch .menutop2 a:focus i {      
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }
}

/* desde 880px hasta 992px - SMALL_1 */
@media (min-width:880px) and (max-width: 991.99px) {
    #viewContent{
        position: relative;
    }
    .container-fluid {
        padding-left: 0px;
    }
    .sidebar-left, .sidebar-right{
        width: 30%;
    }
    .page-content-toggled-right, .page-content-toggled-left{
        width: 70%;
    }
    .page-content-toggled-left{
        margin-left: 30%;
    }
    
    .toolbar{
        width: 8%;
    }
    .page-content-toolbar{
        width: 92%;
    }

    .widget-body {
        height: 456px;
    }
    .widget-banner img{
        margin-top: -50px;
        width: 100%;
    }
    .btn-rectangle>.btn-label{
        font-size: 1em;
    }
    .btn-rectangle>.btn-icon{
        font-size: 3em;
    }
    #actividad .widget-body{ height: auto !important; }
    #actividad-body .metodologias li>a{ font-size: 1.15em; }
     /* Transforms the list into a horizontal navigation */
     .menutop2 ul {
        font-size: 1em;
    }

    .menutop2 li {
        border-left: 1px solid #888;
        float: left;
        width: 11.111111%; /* *** PARA 9 ICONOS *** */
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }
    .menutop2 li:first-child{
        border-left: none;
    }

    .menutop2 a {
        display: block;
        width: auto;
    }

    
    /* Placing the icon */
    
    .icon {
        padding-top: .5em;
    }

    .icon + span {
        margin-top: .5em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Animating the height of the element*/
    .menutop2 a {
        height: 6em;
    }

    

    /* Making the text follow the height animation */
    .no-touch .menutop2 a:hover .icon + span {
        margin-top: 3.2em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Positioning the icons and preparing for the animation*/
    .menutop2 i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em;
        border-radius: 50%;
        font-size: 1.8em;
        box-shadow: 0 0 0 30px transparent;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }   
    
    /* Animate the box-shadow to create the effect */
    .no-touch .menutop2 a:hover i,
    .no-touch .menutop2 a:active i,
    .no-touch .menutop2 a:focus i {      
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }
    
}

/* desde 768px hasta 880px - SMALL_2 */
@media (min-width:768px) and (max-width: 879.99px) {

    #viewContent{
        position: relative;
    }
    .container-fluid {
        padding-left: 0px;
    }
    .sidebar-left, .sidebar-right{
        width: 35%;
    }
    .page-content-toggled-right, .page-content-toggled-left{
        width: 65%;
    }
    .page-content-toggled-left{
        margin-left: 35%;
    }

    .toolbar{
        width: 9%;
    }
    .page-content-toolbar{
        width: 91%;
    }

    .widget-body {
        max-height: 456px;
    }
    #actividad .widget-body{ height: auto !important; }
    #actividad-body .metodologias li>a{ font-size: .96em; }
    .btn-rectangle>.btn-label{
        font-size: 1.05em;
        word-wrap: break-word;
    }
    .btn-rectangle>.btn-icon{
        font-size: 3em;
    }
    

    /* Transforms the list into a horizontal navigation */
     .menutop2 ul {
        font-size: .89em;
    }

    .menutop2 li {
        border-left: 1px solid #888;
        float: left;
        width: 11.111111%; /* *** PARA 9 ICONOS *** */
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }
    .menutop2 li:first-child{
        border-left: none;
    }

    .menutop2 a {
        display: block;
        width: auto;
    }

    
    /* Placing the icon */
    
    .icon {
        padding-top: .5em;
    }

    .icon + span {
        margin-top: .5em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Animating the height of the element*/
    .menutop2 a {
        height: 6em;
    }

    

    /* Making the text follow the height animation */
    .no-touch .menutop2 a:hover .icon + span {
        margin-top: 3.2em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Positioning the icons and preparing for the animation*/
    .menutop2 i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em;
        border-radius: 50%;
        font-size: 1.8em;
        box-shadow: 0 0 0 30px transparent;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }   
    
    /* Animate the box-shadow to create the effect */
    .no-touch .menutop2 a:hover i,
    .no-touch .menutop2 a:active i,
    .no-touch .menutop2 a:focus i {      
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }
}

/* desde 385px hasta 768px - X-SMALL_1 */
@media (min-width: 385px) and (max-width: 767.99px) {
    .nameText{
        font-size: 1.0em !important;
        white-space: inherit !important;
    }
    .progresimg{
        width: 95% !important;
    }
    .progrsfinish{
        right: 6% !important;
    }
    .base{
            width: 95% !important;
    }
    .nivelContent{
        width: 30% !important;
    }
    .nivelCircle.courseactive {
        width: 56px;
        height: 56px;
        bottom: 15px;
    }
    .nivelCircle {
        width: 56px;
        height: 56px;
    }
    .nivelCircle>img{
        height: 100%;
        width: 100%;
    }
    .porcentaje{
        top: 14% !important;
        font-size: 1.2em !important;
    }
    .card .card-info {
        font-size: 1.0em !important;
    }
    .resultado_tiempos>.col-xs-6>h4{
        font-size: 14px;
        /*padding-top: 17px;*/
    }

    #comparativo{
        width: 350px !important;
    }
    #viewContent{
        margin-top: 10px;
        position: relative;
    }
    #example_wrapper{
        /*margin-left: -8px;*/
        font-size: 12px;
    }
     #divreproductor>audio{
        margin-bottom: 5%;
        width: 100%
    }
    .navbar-header>a.navbar-brand>img{
    width: 50%;
    height: 58px;
    }
    .sidebar-left, .sidebar-right{
        width: 300px;
    }
    .sidebar-left{  box-shadow: 5px 5px 15px -5px #888; }
    .sidebar-right{ box-shadow: -5px 5px 15px -5px #888; }

    .page-content-toggled-right, .page-content-toggled-left{
        width: 100%;
    }
    
    .toolbar{
        box-shadow: -5px 5px 15px -5px #888;
        width: 18%;
    }
    .page-content-toolbar{
        width: 100%;
    }

    .widget-banner img{
        margin-top: -50px;
        width: 100%;
    } 
    #actividad-body .metodologias li>a{ font-size: 1.5em; }
    /* Animation*/
    .hvr-buzz-out:active, .hvr-buzz-out:focus, .hvr-buzz-out:hover{
        -webkit-animation-name: hvr-buzz-out;
        animation-name: hvr-buzz-out;
        -webkit-animation-duration: initial;
        animation-duration: initial; 
        -webkit-animation-timing-function: initial;
        animation-timing-function: initial;
    }

    /* When JavaScript is disabled, we hide the menu */
    .menutop2 li span.icon {
        width: 40%;
        text-align: right;
    }

    .menutop2 li .icon + span {
        font-size: 0.9em;
    }

    .no-js .menutop2 ul {
        max-height: 30em;
        overflow: hidden;
    }
    
    /* When JavaScript is enabled, we hide the menu */
    .js .menutop2 ul {
        max-height: 0em;
        overflow: hidden;
    }
    
    /* Displaying the menu when the user has clicked on the button*/
    .js .menutop2 .active + ul {     
        max-height: 30em;
        overflow: hidden;
        -webkit-transition: max-height .4s;
        -moz-transition: max-height .4s;
        -o-transition: max-height .4s;
        -ms-transition: max-height .4s;
        transition: max-height .4s;
    }

    /* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/
    .menutop2 li{
        border-bottom: 1px solid #aaa;
    }

    .menutop2 li span {
        display: inline-block;
        height: 100%;
    }

    .menutop2 a {
        padding: 0.5em;     
    }
    
    .icon + span {
        margin-left: 1em;
        font-size: 0.8em;
    }
    
    /* make the nav bigger on touch screens */
    .touch .menutop2 a {
        padding: 0.8em;
    }

    div.select-template-zone .act_select{ width: 100%; }
    .modal-dialog{
        margin:20px auto !important;
    }
    
    #modalcontent>div.seliplantilla{
        height: initial;
        margin-bottom: 1em;
    }

    #modalcontent>div.seliplantilla img{
        margin: 0 auto;
    }

    #contenedor-paneles{
        position: relative;
    }
    
    .panel-info{
        margin: 0;
        margin-bottom: .5em;
        width: 100%;
    }

    .panel-info:first-child{ margin-bottom: .5em; }

    .table-key-value>.table-kv-row>.key{
        display: block;
        float: none;
        padding: 6px 4px 6px 10px;
        text-align: left;
        width: auto;
    }
    .table-key-value>.table-kv-row>.value{
        margin-left: 10px;
        display: block;
    }

}

/* desde MINIMO hasta 385px - X-SMALL_2 */
@media (max-width: 384.99px) {
    .nameText{
        font-size: 1.0em !important;
        white-space: inherit !important;
    }
    .progresimg{
        width: 88% !important;
    }
    .progrsfinish{
        right: 10% !important;
    }
    .base{
            width: 88% !important;
    }
    .nivelContent{
        width: 30% !important;
    }
    .nivelCircle.courseactive {
        width: 56px;
        height: 56px;
        bottom: 15px;
    }
    .nivelCircle {
        width: 56px;
        height: 56px;
    }
    .nivelCircle>img{
        height: 100%;
        width: 100%;
    }
    .porcentaje{
        top: 14% !important;
        font-size: 1.2em !important;
    }
    .card .card-info {
        font-size: 1.0em !important;
    }
    .resultado_tiempos>.col-xs-6>h4{
        font-size: 14px;
    }
    .select-docente {
        width: 100% !important;
    } 
    #select_viewActivity{
        width: 10% ;
    }
    .div_menu {
            font-size: 19px !important;
    }
    .panel-body > p{
        font-size: 15px !important;
        padding-top: 15px;
    }
    #select_viewGeneral{
        min-width: 180px !important;
    }
    .card-title{
        font-size: 10px !important;
    }
    #select_viewGeneral_tipo{
        min-width: 180px !important;
    }
    #comparativo{
        width: 250px !important;
    }
    #loader {
        display: block;
        position: relative;
        left: 45%;
        top: 45%;
        width: 100%;
        height: 400px;
        margin: -75px 0 0 -107px;
        border-radius: 50%;
        z-index: 1001;
    }
    #viewContent{
        margin-top: 10px;
        position: relative;
    }
    .text-custom2{
        font-size: 40px !important;
    }
    .panel-body>.row>.col-md-6{
        font-size: 11px;
    }
    .panel-body>.row>.col-md-6>h1{
        font-size: 28px;
    }
    #idcolegio{
        margin-bottom: 10px;
    }
    #idcurso{
        margin-bottom: 10px;
    }
    #idgrados{
        margin-bottom: 10px;
    }
    #idseccion{
        margin-bottom: 10px;
    }
    #example_wrapper{
        margin-left: -13px;
        font-size: 9px;
    }
    #divreproductor>audio{
        width: 100%
    }
    .navbar-header>a.navbar-brand>img{
    width: 50%;
    height: 58px;
    }
    .sidebar-left, .sidebar-right{
        width: 270px;
    }
    .sidebar-left{ box-shadow: 5px 5px 15px -5px #888;  }
    .sidebar-right{ box-shadow: -5px 5px 15px -5px #888; }

    .page-content-toggled-right, .page-content-toggled-left{
        width: 100%;
    }
    
    .toolbar{
        box-shadow: -5px 5px 15px -5px #888;
        width: 20%;
    }
    .page-content-toolbar{
        width: 100%;
    }


    .widget-banner img{
        margin-top: -50px;
        width: 100%;
    }

    .bookshop{
        margin-bottom: 2em;
    }

    .btn-container{
        padding:  8px;
        width: 100%;
    }
    .btn-rectangle>.btn-label{
        font-size: 1.1em;
    }
    .btn-rectangle>.btn-icon{
        font-size: 3em;
    }
    #actividad-body .metodologias li>a{ font-size: 1.3em; }
    /* Animation*/
    .hvr-buzz-out:active, .hvr-buzz-out:focus, .hvr-buzz-out:hover{
        -webkit-animation-name: hvr-buzz-out;
        animation-name: hvr-buzz-out;
        -webkit-animation-duration: initial;
        animation-duration: initial; 
        -webkit-animation-timing-function: initial;
        animation-timing-function: initial;
    }

    /* Unhiding the styled menu link */
    .menutop2 .navtoogle{
        margin: 0;
        display: block;
    }
    /* When JavaScript is disabled, we hide the menu */
    .no-js .menutop2 ul {
        max-height: 30em;
        overflow: hidden;
    }
    
    /* When JavaScript is enabled, we hide the menu */
    .js .menutop2 ul {
        max-height: 0em;
        overflow: hidden;
    }
    
    /* Displaying the menu when the user has clicked on the button*/
    .js .menutop2 .active + ul {     
        max-height: 30em;
        overflow: hidden;
        -webkit-transition: max-height .4s;
        -moz-transition: max-height .4s;
        -o-transition: max-height .4s;
        -ms-transition: max-height .4s;
        transition: max-height .4s;
    }

    /* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/
    .menutop2 li{
        border-bottom: 1px solid #aaa;
    }

    .menutop2 li span {
        display: inline-block;
        height: 100%;
    }

    .menutop2 a {
        padding: 0.5em;     
    }
    
    .icon + span {
        margin-left: 1em;
        font-size: 0.8em;
    }
    
    /* Adding a left border of 8 px with a different color for each menu item*/
/*
    .menutop2 li:nth-child(6n+1) {
        border-left: 8px solid rgb(174, 78, 1);
    }

    .menutop2 li:nth-child(6n+2) {
        border-left: 8px solid rgb(191, 117, 20);
    }

    .menutop2 li:nth-child(6n+3) {
        border-left: 8px solid rgb(13, 111, 150);
    }

    .menutop2 li:nth-child(6n+4) {
        border-left: 8px solid rgb(10, 75, 117);
    }

    .menutop2 li:nth-child(6n+5) {
        border-left: 8px solid rgb(16, 34, 44);
    }

    .menutop2 li:nth-child(6n+6) {
        border-left: 8px solid rgb(9, 18, 25);
    }
*/
    /* make the nav bigger on touch screens */
    .touch .menutop2 a {
        padding: 0.8em;
    }

    div.select-template-zone .act_select{ width: 100%; }

     #modalcontent>div.seliplantilla{
        height: initial;
        margin-bottom: 1em;
    }

    #modalcontent>div.seliplantilla img{
        margin: 0 auto;
    }
    
    #contenedor-paneles{
        position: relative;
    }

    .panel-info{
        margin: 0;
        margin-bottom: .5em;
        width: 100%;
    }

    .panel-info:first-child{ margin-bottom: .5em; }

    .table-key-value>.table-kv-row>.key{
        display: block;
        float: none;
        padding: 6px 4px 6px 10px;
        text-align: left;
        width: auto;
    }
    .table-key-value>.table-kv-row>.value{
        margin-left: 10px;
        display: block;
    }

}

@media (max-height: 800px) and (min-width: 1250px){
    .btn-panel-container>.btn-panel{
        font-size: 1.6em;
        height: 320px;
    }
    .btn-panel-container.panelcont-xs>.btn-panel{
        font-size: 1.6em;
        height: 155px;
    }
}

/* Styling the toggle menu link and hiding it */
.menutop2 .navtoogle{
    display: none;  
    width: 100%;
    padding: 0.5em 0.5em 0.8em;
    font-family: 'Lato',Calibri,Arial,sans-serif;
    font-weight: normal;
    text-align: left;
    color: rgb(7, 16, 15);
    font-size: 1.2em;
    background: none;   
    border: none;
    border-bottom: 4px solid rgb(221, 221, 221);
    cursor: pointer;
}

.navtoogle i{
    z-index:-1;
}

.icon-menu {
    position: relative;
    top: 3px;
    line-height: 0;
    font-size: 1.6em;
}

.menu-navigation-icons {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:0;
}

.menu-navigation-icons a {
    display: inline-block;
    color: #ffffff;
    background-color: #232526;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    width: 136px;
    height: 109px;
}

.menu-navigation-icons a:hover{
    opacity:0.92;
}

.menu-navigation-icons a i {
    display: block;
    line-height: 2;
}

.menu-navigation-icons a span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Menu colors */

.menu-navigation-icons a.menu-magenta   { background-color: #dc68bf; }
.menu-navigation-icons a.menu-magenta i { color: #9d518a; }

.menu-navigation-icons a.menu-blue      { background-color: #57b2d8; }
.menu-navigation-icons a.menu-blue i    { color: #3e8fb1; }

.menu-navigation-icons a.menu-green     { background-color: #8ccc7a; }
.menu-navigation-icons a.menu-green i   { color: #6fad5e; }

.menu-navigation-icons a.menu-yellow    { background-color: #dadf50; }
.menu-navigation-icons a.menu-yellow i  { color: #babe4a; }

.menu-navigation-icons a.menu-red       { background-color: #f26262; }
.menu-navigation-icons a.menu-red i     { color: #d34646; }

/* Make this page responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 800px) {
    .menu-navigation-icons{
        display:none;
    }

    .slicknav_nav a i {
        display: none;
    }

    .slicknav_menu {
        display:block;
    }
}
/* fin barra NAV */

.lis_ver{
    color: #4466BB;
    background: transparent;
	font-size:24px;
}
.lis_ver:hover{
    color: #9a1111;
    background: #dcd8d8;
}
.lis_update{
    color: #4466BB;
    background: transparent;
	font-size:24px;
}
.lis_update:hover{
    color: #9a1111;
    background: #dcd8d8;
}

.lis_remove{
    color: #4466BB;
    background: transparent;
	font-size:24px;
}
.lis_remove:hover{
    color: #9a1111;
    background: #dcd8d8;
}

.headings{
	background-color:#7D94D0; color:#fff
}
.title_left, .small{
	background-color:#4466BB; color:#fff;
	height:30px; font-size:24px
}
.div_linea{
	height:10px;
}
.x_content{
    margin: 1ex auto;
	padding:20px;
	border:solid 1px #4466BB;	
	 -webkit-box-shadow: 0 10px 6px -6px #777;
                -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
}
.x_content label{
	text-align:left;	
}

div.select-template-zone h4{
    display: inline-block;
    margin-right: 1em;
}

div.select-template-zone .act_select{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 15px;
}

.act_select{
    background: transparent;
    border: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.act_select option{
    color:#000;
    padding:1ex;
}

.actividad-main-content>.metod:nth-child(3n+1) div.select-template-zone .act_select option{background: #fdf0f0;}
.actividad-main-content>.metod:nth-child(3n+2) div.select-template-zone .act_select option{background: #fff6e9;}
.actividad-main-content>.metod:nth-child(3n+3) div.select-template-zone .act_select option{background: #ecf2ff;}

.tmp_video{
    position: relative;
}

.mascara_video1{
    padding: 1ex;
    position: absolute;
    top: 0.1px;
}

.btn-file{
    overflow: hidden;
}
.btn-file input[type=file] {
    background: white;
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    height: 2em;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
}
.btn-file-2 {
    color: #fff;

    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: none;
}


/* genrar toltip con css*/
.vertooltip{
    display: inline;
    position: relative;
}

.vertooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.vertooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.tooltip {
     filter: alpha(opacity=1);
     opacity: 1;
    line-break: auto;
     display: inline-block;
}

.in-moveaqui{
    border: 0px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.in-moveaqui2{
    border: 0px;
    border-bottom: 0.4ex #fc5c5c solid;
    font-weight: bold;
    text-align: center;
}
.inlectura{
    background-color: rgb(252, 92, 92) !important;
    box-shadow: 0px 0px 7px #fc5c5c;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px 3px #444;
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

#txtdialogocole thead{
    background: #0a89bb;
    color: white;
}

#txtdialogocole td .addtextvideo{
    width: 3em; 
}

/***clase para iconos en tinymce */
.mce-ico.mce-i-fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #124698;
}

.iconfilebibli{
    font-size: 5em;
    cursor: pointer;
}

.pnllisbilioteca{
    margin: 1.5ex auto;
    height: 158px;
}

.panel p{
    z-index: 1 !important;
}
.panel .mce-object-audio , .panel .mce-object-video{
    z-index: 2 !important;
}

*[data-audio]{
    cursor: pointer;
}
.btnselected{
    cursor: pointer;
}

.showtoolbar{
    position: absolute;
    left: 45%;
    bottom: -18px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #cec7c7;
    z-index: 9;
    padding: 0px 10px;
    color: #f5ab40;
    background: #4466bb;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.tabman{
 margin: 1ex 0px;
}
.tabman ul.nav li.active a{
    background-color:#3a5cb3;
    color:#f2dede;
}

.tabman ul.nav li a{
    background-color:#f2dede;
    color:#a94442; 
}

.tabman div.tab-content , div.pnlman{
    padding: 1ex;
   /* border: 1px solid #a3b8ef;*/
}

.breadcrumb {
    padding: 0.5ex;
    padding-left: 20px;
    margin: 1ex 0px;
    list-style: none;
    background-color: rgba(187, 197, 184, 0.38);
    border-radius: 4px;
}

.nav.breadcrumb>li>a {
    position: relative;
     display: inline-block;
    padding: 35px 0px 5px 0px;
    color: #fff;
}

.nav.breadcrumb>li {
      color: #b1adad;
}

.toolbottom{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.noavance {
filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */
cursor: not-allowed;
}

.btnchoiceplantilla{
    /*position: absolute;*/
    /*padding: 0 15px;*/
    z-index: 20;
}

.tmp-categoria{
    background: #fc5c5c;
    color: #fff;
    font-size: 16px;
    margin-top: 1ex;
    padding: 1ex;
    text-align: center;
}

.btn-template{
    color: #fff;
    cursor: pointer;
    margin-top: 0.25ex;
    padding: 0.5ex;
    white-space: initial;
    width: 100%;
}

.btn-template:hover,.btn-template:focus{
    color:  #fff;
    text-shadow: 1px 1px 2px #444;
}
.vertical-text {
    transform: rotate(270deg);
}
audio::-internal-media-controls-download-button,video::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure,video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel,video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

#diccionario .result-busqueda{
    background-color: #fff;
    margin-top: 2em;
    padding-left: 23px;
}

#diccionario .result-busqueda h2,
#diccionario .result-busqueda h3,
#diccionario .result-busqueda h4{
    font-weight: bolder;
}

#diccionario .result-busqueda p{
    font-style: italic;
    margin-left: 20px;
}

#diccionario .result-busqueda small{
    font-style: italic;
    font-size: 55%;
}

#games-tool{ background: #fff; }
/*#bs-navbar{
    display: block;
    position: static;
}*/
