@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');
@import url("./validation_code.css");
html {}

html,
body,
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #005AF6;
    --green: #00FF80;
    --green-dark: #059500;
    --blue: #00276B;
    --gray: #EBE7E7;
}

.bluedark {
    color: var(--blue)!important;
}

.icon-bluedark {
    fill: var(--blue)!important;
}


/* --------------------   ICONS   ---------------- */

.icon {
    margin: auto 15px;
    width: 23px;
    height: 21px;
    display: block;
    background-size: 19px 21px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-user {
    background-image: url('../img/Icon-feather-user.svg');
}

.icon-pass {
    background-image: url('../img/Icon-feather-lock.svg');
}

.icon-menu {
    background-image: url('../img/icons/icon-feather-menu.svg');
    width: 27px!important;
    height: 21px!important;
    background-size: 27px 21px;
}

.icon-donwload {
    background-image: url('../img/icons/icon-feather-download.svg');
    width: 26px!important;
    height: 26px!important;
    background-size: 26px 26px;
}

.icon-traslate {
    background-image: url('../img/icons/icon-metro-language.svg');
    width: 32px!important;
    height: 28px!important;
    background-size: 32px 28px;
}

.icon-config {
    background-image: url('../img/icons/icon-feather-settings.svg');
    width: 28px!important;
    height: 28px!important;
    background-size: 28px 28px;
}

.icon-close {
    background-image: url('../img/icons/icon-material-close.svg');
    width: 28px!important;
    height: 28px!important;
    background-size: 28px 28px;
}

.icon-calendar {
    background-image: url('../img/calendar.svg');
}

.icon-graduation {
    background-image: url('../img/icon-awesome-graduation-cap.svg');
}

.icon-archive {
    background-image: url('../img/icon-feather-archive.svg');
}

.icon-box {
    background-image: url('../img/icon-feather-box.svg');
}

.icon-folder {
    background-image: url('../img/icon-feather-folder.svg');
}

.icon-list {
    background-image: url('../img/icon-ionic-md-list.svg');
}

.icon-message {
    background-image: url('../img/message-square.svg');
}

.icon-home {
    background-image: url('../img/icon-feather-home.svg');
    background-size: 27px 25px;
    width: 28px!important;
    height: 28px!important;
}

.icon-exit {
    background-size: 27px 25px;
    width: 28px!important;
    height: 28px!important;
    background-image: url('../img/icon-feather-log-out.svg');
}

.icon-arrow-top {
    background-size: 20px 20px;
    width: 20px!important;
    height: 20px!important;
    background-image: url('../img/icons/icon-ionic-ios-arrow-back.svg');
}


/* --------------------   COLORS   ---------------- */

.white {
    color: #fff
}

.wf-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: bold
}


/* ==============    INPUT =================*/

.container-input {
    display: flex;
    width: 100%;
    height: 54px;
    margin-top: 7px;
    background-color: white;
    vertical-align: middle;
    border-radius: 8px;
}

.label_input {
    font-size: 18px;
    font-weight: 500;
}

.wf-input {
    width: 100%;
    /* margin-top: 6px; */
}

.wf-select {
    width: 100%;
    padding: 5px 6px;
}

.wf-input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

input,
select {
    border-radius: 8px;
    min-height: 54px;
    border: none;
}

input:-internal-autofill-selected {
    background-color: white !important;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}


/* ==============    </>  =================*/

input,
select,
button {
    font-size: 20px
}

#svg-login-top {
    margin-top: 20px;
    width: 56px;
    height: 42px;
    right: 17px;
    position: absolute;
    display: block;
    background-size: cover;
    background-image: url('../img/Grupo422.svg');
}

#svg-login-bottom {
    margin-top: 20px;
    width: 20px;
    height: 43px;
    left: 8px;
    bottom: 0;
    position: absolute;
    display: block;
    background-size: cover;
    background-image: url('../img/Grupo423.svg');
}

.wf-img_background {
    background-image: url('../img/bg-login.jpg');
}

#wf-logo {
    width: 68px;
    height: 68px;
    border-radius: 40px;
    border: solid 2px var(--green);
    background-size: cover;
    background-image: url('../img/Emp27.png');
}

#wf-mask-background {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, .69);
}

.wf-container {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: red;
}

.wf-container-form {
    padding: 45px 20px;
    position: relative;
}


/* ==============    BUTTON =================*/

.wf-btn {
    border: none;
    border-radius: 8px;
    height: 54px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wf-btn-primary {
    color: white;
    background-color: var(--primary);
}

.wf-btn-outline {
    background: transparent;
    color: var(--green);
    border: 1px solid var(--green);
}

.wf-btn-link {
    background: transparent;
    color: white;
    text-decoration: underline;
}

#btn-bottom {
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    font-size: 16px;
}


/* ==============    </>  =================*/


/* ==============    DIVIDER     =================*/

.wf-divider {
    /* border-bottom: solid .2px white; */
    margin: auto;
    width: 95%;
    height: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* position: relative;*/
    background-size: cover;
}


/* ==============    </>  =================*/


/* ==============    NAVBAR     =================*/

.navbar {
    height: 82px;
    width: 100%;
    text-decoration: none;
    position: -webkit-sticky;
    top: 0px;
    z-index: 100;
    background-color: white;
    position: sticky;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.navbar li {
    text-decoration: none;
    list-style: none;
}

.container_icon_menu_nav {
    text-align: left;
    position: absolute;
    left: 0;
    top: 40%;
}

.container_txt_nav {
    text-align: right;
    position: absolute;
    right: 0;
    top: 25%;
    margin-right: 20px
}

.txt_label_nav {
    font: size 12px;
    font-weight: 600;
    color: var(--blue)
}

.txt_counter_nav {
    font-size: 18px;
    font-weight: 700;
    color: var(--green-dark)
}


/* ==============    BOTTOM     =================*/

.container_icon_bottom {
    list-style: none;
    text-align: left;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    background: white;
    height: 80px;
    justify-content: center;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.circle {
    width: 54px;
    background-color: white;
    color: white;
    border-radius: 32px;
    height: 54px;
    padding: 0;
    margin: auto;
    border: white solid 1px;
}

.circle:hover {
    border: var(--gray) solid 1px;
}

.circle:active {
    background-color: #EBE7E7;
}

.circle>a>span {
    margin: 15px auto;
}


/* ==============    SIDEBAR     =================*/

#sidebar {
    top: 0;
    width: 100%;
    position: absolute;
    min-height: 100vh;
    max-height: initial;
    background: white;
    z-index: 200;
    animation-name: rotate_sidebar;
    animation-duration: .7s;
}

.sidebar-close {
    animation-name: rotate_sidebar_close!important;
    animation-duration: .7s;
}

.img-rounded {
    border-radius: 100%;
}

.img-small {
    width: 60px;
    height: 60px;
}

#sidebar-img-logo {
    margin: 0 10px
}

.btn-close {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.sidebar_section_middle {
    width: 100%;
    min-height: 118px;
    display: inline-flex;
    z-index: 100;
    position: fixed;
    background-color: white;
}

.sidebar_section_menu {
    z-index: 10;
    background-color: white;
    z-index: 900;
    min-height: 100vh;
}

.sidebar-txt-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px
}

.sidebar-middle-container-top-left {
    text-align: left;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
}

.sidebar-middle-container-top-rigth {
    position: relative;
    width: 30%;
}

#svg-sidebar-middle-top {
    margin-top: 20px;
    width: 56px;
    height: 42px;
    right: 17px;
    position: absolute;
    display: block;
    background-size: cover;
    background-image: url('../img/Grupo424.svg');
}

.sidebar_section_header {
    vertical-align: middle;
    width: 100%;
    height: 82px;
    align-items: center;
    position: fixed;
    z-index: 100;
    display: inline-flex;
    background-color: var(--primary);
}

.miga {
    border-radius: 14px;
    width: max-content
}

.bg-green-dark {
    background-color: var(--green-dark)
}

.txt-rol {
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px;
}

.txt-user {
    font-size: 18px;
    padding: 6px;
    margin: 5px;
}

.sidebar-menu-item {
    max-width: 100%;
    min-height: 58px;
    /* padding:10px 0px; */
    position: relative;
}

.sidebar-menu-item a {
    display: block!important;
}

.sidebar-menu-item:active {
    /* background-color:#E2EDFF */
}

.sidebar-menu-item a {
    font-size: 20px;
    padding-top: 17px;
    padding-left: 10px;
    text-decoration: none;
    display: flex;
    height: 58px;
    vertical-align: middle;
    color: #707070;
}

.sidebar-menu-item a:active {
    color: var(--blue);
    background-color: #E2EDFF
}


/* ==============    HOME PAGE     =================*/

.home-container {
    background-color: #F2F2F2;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.svg-home {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url('../img/Grupo273.svg');
}

.accordion {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 9px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion-child-bg {
    border-radius: 9px;
    background-color: #0950C9
}

.wf-active,
.wf-accordion:hover {
    background-color: var(--primary);
}

.wf-panel {
    padding: 10px 5px;
    display: none;
    background-color: var(--primary);
    overflow: hidden;
    border-radius: 9px;
}

.container-cursos {
    background-color: var(--primary);
    width: 95%;
    margin: auto;
    z-index: 20;
    border-radius: 9px;
}

.course-container {
    background-color: white;
    display: flex;
    border-radius: 9px;
    padding: 5px;
    margin: 5px 0;
}

.course-img {
    width: 30%;
    padding: 5px;
    background-color: red;
    border-radius: 9px
}

.course-desc {
    width: 70%;
}

.img-course {
    width: 100%;
    height: 115px
}

.course-txt-title {
    color: var(--primary);
    font-size: 16;
    font-weight: 900;
}

.course-txt-desc {
    font-size: 14;
    font-weight: 500;
}

.course-separator {
    background-color: var(--green);
    width: 80%;
    height: 4px;
    border-radius: 10px;
    margin: 5px 0;
}


/* ==============    HOME COURSE     =================*/

.container_rigth_nav {
    position: absolute;
    right: 0;
    top: 35%;
    display: flex;
    margin-right: 20px
}

.home-course-section-1 {
    width: 100%;
    background-image: url('../img/Grupo427.svg');
    height: 100px;
    position: relative;
}

#wf-mask-background-course {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    /* background: rgb(2,0,36); */
    background: var(--primary);
}

.txt-name-course {
    font-size: 18px;
    font-weight: 600;
}

.flex {
    display: flex;
}

.w-7 {
    width: 70%;
}

.w-6 {
    width: 60%;
}

.w-5 {
    width: 50%;
}

.w-4 {
    width: 40%;
}

.w-3 {
    width: 30%;
}

.grid {
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    padding: 0 5px;
}

.txt-date-course {
    font-size: 14px;
    font-weight: 800;
}

.txt-right {
    text-align: right;
}

.content-blank {
    width: 100%;
    min-height: 100vh;
}

.bg-default-course {
    background-image: url('../img/fondoportada_713.jpg');
}


/* ========== modal ================ */

.modal-container {
    background: rgba(0, 0, 0, .5);
    z-index: 150;
    position: fixed;
    padding: 1rem 0;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    min-width: max-content;
    left: 0%;
    width: 100%;
    height: 100vh;
}

.modal-mobile {
    background: white;
    border-radius: 15px;
    margin: 0 2%;
    z-index: 152;
    position: fixed;
    padding: 1rem 0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    /* min-width:max-content; */
    left: 0%;
    box-shadow: 2px 0px 24px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 0px 24px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 24px -10px rgba(0, 0, 0, 0.75);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul li a {
    display: block;
}

.icon-close-modal {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    border-radius: 15px;
    right: 5px;
    padding: 12px 17px;
    font-weight: 900;
    cursor: pointer;
    background: rgb(255, 50, 50);
}

.icon-close-modal:active {
    background: rgb(180, 0, 0);
}

.config-list {
    margin-top: 40px;
}

.config-list li {
    width: 100%;
    color: var(--blue);
}

.config-list li a {
    display: block;
    font-size: 20px;
    padding: 27px 0;
    padding-left: 10px;
    align-items: center;
    text-align: left;
    color: black
}

.config-list li a:active {
    background: var(--gray);
    color: var(--blue)
}

.config-container {}

.item-parent {
    display: block;
}

.sidebar-menu-subitem {
    display: none;
    margin-left: 20px;
}

.visible {
    display: block;
}

.select-item {
    background: rgb(243, 243, 243)
}

.select-item a {
    color: black
}

.icon-toogle {
    position: absolute;
    right: 0;
    top: 20px;
    transition: transform .3s
}

.icon-toogle-active {
    transform: rotate(-90deg);
    transition: transform .5s
}


/* ==============    </>  =================*/

@keyframes rotate_sidebar {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes rotate_sidebar_close {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

@keyframes rotate_sidebar_close {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}