.plantilla-dialogo .dialogue-image{
    position: relative;
    z-index: 10;
}

.plantilla-dialogo  .dialogue-image .image{
    border: 1px solid #ccc;
    display: inline-block;
    font: 16px/1 Arial sans-serif;
    margin: 0 auto;
    padding: 3px;
    position: relative;
    vertical-align: middle;  
}

.plantilla-dialogo .dialogue-image>.botones-add{
    left: 20px;
    position: absolute;
    top: 4px;
}

.plantilla-dialogo .d-box>.botones-add .btnselectedfile[data-tipo="audio"]{
    width: 26%;
    z-index:1; 
}

.plantilla-dialogo .d-box>.botones-add{
    display: flex;
    left: 1px;
    position: absolute;
    top: -35px;
    z-index: 1;
}

.plantilla-dialogo .dialogue-boxes .nro-orden{
    display: inline;
    width: 74%;
}
.plantilla-dialogo .dialogue-boxes .nro-orden>.addtext{
    text-align: center;
    height: 2em;
    line-height: 2em;
    width: 7em;
}

.plantilla-dialogo .dialogo-main-content .dialogue-image img{
    max-height: 400px;
    margin: 0 auto;
}

.plantilla-dialogo .dialogo-main-content .dialogue-boxes{
    min-height:  235px;
    position: relative;
    z-index: 10;
}

.plantilla-dialogo .dialogue-boxes>.d-box{
    border: 1.3px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}

.plantilla-dialogo .dialogue-boxes>.d-box .d-bubble{
    word-break: break-word;
    font-size: .9em;
}

.plantilla-dialogo .dialogue-boxes>.d-box>.arrow,
.plantilla-dialogo .dialogue-boxes>.d-box>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.plantilla-dialogo .dialogue-boxes>.d-box>.arrow:after {
    content: "";
    border-width: 10px;
}

.plantilla-dialogo .dialogue-boxes>.d-box.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0,0,0,.25);
    border-left-width: 0;
}

.plantilla-dialogo .dialogue-boxes>.d-box.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0,0,0,.25);
}
.plantilla-dialogo .dialogue-boxes>.d-box>.arrow {
    border-width: 11px;
}
.plantilla-dialogo .dialogue-boxes>.d-box.left>.arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
}
.plantilla-dialogo .dialogue-boxes>.d-box.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.plantilla-dialogo .dialogue-boxes>.d-box a.btn-add-dialogo,
.plantilla-dialogo .dialogue-boxes>.d-box div.btn-file{
    margin: 0 5px 5px 0;
    display: inline-block;
    font-size: .95em;
}
.plantilla-dialogo .dialogue-boxes>.d-box .btn-close{
    display: inline-block;
    float: right;
    position: relative;
}

.plantilla-dialogo .dialogue-boxes>.d-box .dialogo-texto{
    font-size: .94em;
    word-wrap: break-word;
}

.plantilla-dialogo .dialogue-pagination{
    text-align: center;
}

.plantilla-dialogo .dialogue-pagination>ul.nav-pills{
    display: inline-block;
}

.plantilla-dialogo .dialogue-pagination .pagination>li>a.tooltip{
    font-size: inherit;
}

.plantilla-dialogo .user-view{
    display: none;
}