.plantilla_txtcompletar .botones-add{
    left: 20px;
    position: absolute;
    top: 4px;
}

.plantilla_txtcompletar .word-drop{
    border-bottom: 0.4ex #84dbf4 solid;
}

.plantilla_txtcompletar .word-drop .success{
    color: #5cb85c;
}

.plantilla_txtcompletar .word-drop .danger{
    background-color: #f2c4c4;
    border: 1px solid #d88693;
}

.plantilla_txtcompletar .word-drop input, .word-drop span{
    height: 28px;
    padding-top: .5em;
}

.plantilla_txtcompletar .contentamove{    
    padding: 2ex;
    margin: 1ex;
    width: 90%;
}

.plantilla_txtcompletar .amove{
    border: 1px dashed #5a89f8;
    padding: 0.5ex;
    cursor: move;
}