.plantilla-rompecabezas #panel_finish{
    text-align: center;
}

.plantilla-rompecabezas #panel_finish .palabra-respuesta{
    background: #C1FEE3;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

.plantilla-rompecabezas .video-loader{
    left: 19px;
    padding: 0;
    position: absolute;
    top: 4px;
    z-index: 20;
}

.plantilla-rompecabezas .snappuzzle-wrap { position: relative; display: inline-block; padding-right: 1px;}
.plantilla-rompecabezas .snappuzzle-pile { position: relative; }
.plantilla-rompecabezas .snappuzzle-piece { cursor: move; }
.plantilla-rompecabezas .snappuzzle-slot { position: absolute; background: #fff; opacity: .8; }
.plantilla-rompecabezas .snappuzzle-slot-hover { background: #eee; }