.plantilla-sopaletras .btns-zone{
    margin-bottom: 1em;
}
.plantilla-sopaletras #list-words-game div.has-feedback span.form-control-feedback{
    pointer-events: initial !important;
}
.plantilla-sopaletras #list-words-game div.has-feedback span.form-control-feedback:hover{
    color: #d9534f;
    cursor: pointer;
}