#smartbook-ver{
    position: relative;
    padding-top: 4px;
}

#smartbook-ver .botones-generales{
    position: absolute;
    left: 74px;
    top: 2px;
}
#smartbook-ver .botones-generales .btn{
    padding: 3px 45px;
}

#smartbook-ver .vertical{
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

#smartbook-ver .div_fondo{
    color: #000;
    background-color: #fff;
     opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#smartbook-ver ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Define el ancho de las tabs--*/
    /*border-bottom: 1px solid #999;
    border-left: 1px solid #999;*/
    width: 100%;

}

#smartbook-ver ul.tabs li {
    border: 1px solid #999;
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
    height: auto; /*--Sustrae 1px de la altura de la lista desordenada--*/
    line-height: 10px; /*--Alineamiento vertical del texto dentro de la tabla--*/
    margin: 0px;
    margin-bottom: -1px; /*--Desplaza los item de la lista abajo 1px--*/
    overflow: hidden;
    padding-top: 5px;
    padding-bottom:5px;
    position: relative;
    /*background: #e0e0e0;*/
}

#smartbook-ver ul.tabs li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 1.1em;
    padding: 0 20px;
    border: 0px solid #fff;
    outline: none;

}


#smartbook-ver ul.tabs li:hover{
    z-index: 100 !important;
}

#smartbook-ver #verde{
    background-color: #5cb85c;
    color: #fff;
}
#smartbook-ver #verde:hover{
    background-color: #7da315;
    color: #fff;
}

#smartbook-ver ul.tabs li a.active {
    background-color: #f00;    
}

#smartbook-ver #celeste{
    background-color: #44a8d0;
    color: #fff;
}
#smartbook-ver #celeste:hover{
    background-color: #1e8bb4;
    color: #fff;
}
#smartbook-ver #celeste a:hover{
    background-color: #1e8bb4;
    color: #fff;
}

#smartbook-ver #naranja{
    background-color: #EF7F00;
    color: #fff;
}
#smartbook-ver #naranja:hover{
    background-color: #C66300;
    color: #fff;
}
#smartbook-ver #naranja a:hover{
    background-color: #C66300;
    color: #fff;
}

#smartbook-ver #mostaza{
    background-color: #fb8521;
    color: #fff;
}
#smartbook-ver #mostaza:hover{
    background-color: #d0a525;
    color: #fff;
}
#smartbook-ver #mostaza a:hover{
    background-color: #d0a525;
    color: #fff;
}

#smartbook-ver #fuxia{
    background-color: #d244a6;
    color: #fff;
}
#smartbook-ver #fuxia:hover{
    background-color: #af1e83;
    color: #fff;
}
#smartbook-ver #fuxia a:hover{
    background-color: #af1e83;
    color: #fff;
}

#smartbook-ver #rosado{
    background-color: #FF8484;
    color: #fff;
}
#smartbook-ver #rosado:hover{
    background-color: #FF5959;
    color: #fff;
}
#smartbook-ver #rosado a:hover{
    background-color: #FF5959;
    color: #fff;
}

#smartbook-ver #rojo{
    background-color: #CC4549;
    color: #fff;
}
#smartbook-ver #rojo:hover{
    background-color: #C61B1F;
    color: #fff;
}
#smartbook-ver #rojo a:hover{
    background-color: #C61B1F;
    color: #fff;
}

#smartbook-ver #morado{
    background-color: #6B4DDA;
    color: #fff;
}
#smartbook-ver #morado:hover{
    background-color: #4323AD;
    color: #fff;
}
#smartbook-ver #morado a:hover{
    background-color: #4323AD;
    color: #fff;
}

#smartbook-ver #azul{
    background-color: #9DCEFF;
    color: #fff;
}
#smartbook-ver #celeste:hover{
    background-color: #3399FF;
    color: #fff;
}
#smartbook-ver #azul a:hover{
    background-color: #3399FF;
    color: #fff;
}

#smartbook-ver #marron{
    background-color: #993300;
    color: #fff;
}
#smartbook-ver #marron:hover{
    background-color: #5B1E00;
    color: #fff;
}
#smartbook-ver #marron a:hover{
    background-color: #5B1E00;
    color: #fff;
}
#smartbook-ver #azul2{
    background-color: #6683C6;
    color: #fff;
}
#smartbook-ver #azul2:hover{
    background-color: #4466BB;
    color: #fff;
}

#smartbook-ver #azul2 a:hover {
    background-color: #4466BB;
    color: #fff;
}

#smartbook-ver .live-edit{
    border-bottom: 1px dashed #2769B1;
}


#smartbook-ver .miniatura:hover>.del-miniatura:before{
    display: block;
}

#smartbook-ver .miniatura>.del-miniatura:before{
    background-color: rgba(255,255,255,0.68);
    border-radius: 50%;
    color: #F92659;
    content: "\f057";
    display: none;
    font: normal normal normal 25px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: 0;
    z-index:  100;
}

#smartbook-ver .miniatura>.del-miniatura:hover:before{
    color: #C50636;
}


#smartbook-ver table.table-striped{
    width: 100%;
}

#smartbook-ver table>thead>tr {
    font-weight: bold;
}

#smartbook-ver table.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #f9f9f9;
}

#smartbook-ver table>caption+thead>tr:first-child>td,
#smartbook-ver table>caption+thead>tr:first-child>th,
#smartbook-ver table>colgroup+thead>tr:first-child>td,
#smartbook-ver table>colgroup+thead>tr:first-child>th,
#smartbook-ver table>thead:first-child>tr:first-child>td,
#smartbook-ver table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

#smartbook-ver table>tbody>tr>td, 
#smartbook-ver table>tbody>tr>th, 
#smartbook-ver table>tfoot>tr>td, 
#smartbook-ver table>tfoot>tr>th, 
#smartbook-ver table>thead>tr>td, 
#smartbook-ver table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

#smartbook-ver table.table-striped>tbody>tr>td, 
#smartbook-ver table.table-striped>tbody>tr>th, 
#smartbook-ver table.table-striped>tfoot>tr>td, 
#smartbook-ver table.table-striped>tfoot>tr>th, 
#smartbook-ver table.table-striped>thead>tr>td, 
#smartbook-ver table.table-striped>thead>tr>th {
    border-top: 1px solid #ddd;
}

#smartbook-ver table tr>td img.table-img{
    width: 200px;
    max-width: 200px;
}

#smartbook-ver table.cuaderno{
    width: 97.45%;
    height: 718px;
    border: none;
}

#smartbook-ver table.cuaderno td.cuaderno-contenido{
    padding-top: 30px;
}

#smartbook-ver .previewhtml{ 
    position: relative;
}
#smartbook-ver .previewhtml .preview , 
#smartbook-ver .previewhtml .back{
    position: absolute;
    top: -50px;
    left: 10%;
}

#smartbook-ver #div_voca .result-busqueda{
    max-height: 480px;
    overflow: auto;
    text-align: justify;
}

#smartbook-ver #div_presentacion{
    min-height: 600px;
    background-size: cover;
}

#smartbook-ver #div_presentacion .creado-por span{
    font-weight: bolder;
}

#smartbook-ver #div_presentacion .btn{
    box-shadow: 0px 0px 8px 0px #fff;
}





#smartbook-ver #div_voca .result-busqueda h1,
#smartbook-ver #div_voca .result-busqueda h2,
#smartbook-ver #div_voca .result-busqueda h3,
#smartbook-ver #div_voca .result-busqueda h4,
#smartbook-ver #div_voca .result-busqueda h5{
    padding: 0;
    margin:  0;
}

#smartbook-ver #div_voca .result-busqueda .palabra_vocab{
    cursor: pointer;
}

#smartbook-ver #div_voca .palabra_vocab:before{
    background: #fff;
    border: 1px solid #ccc;
    content: '';
    height: 20px;
    padding: 2px;
    position: absolute;
    text-align: center;
    width: 20px;
}

#smartbook-ver #div_voca .palabra_vocab.active:before{
    color: #777;
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
}

#smartbook-ver #div_voca .palabra_vocab:focus:before, 
#smartbook-ver #div_voca .palabra_vocab:hover:before{
    box-shadow: inset 0 0 5px 0px #999;
}

#smartbook-ver #div_voca .palabra_vocab.active, 
#smartbook-ver #div_voca .palabra_vocab.active:focus, 
#smartbook-ver #div_voca .palabra_vocab.active:hover{
    border-color: inherit;
}

#smartbook-ver #div_voca .result-busqueda .list-group-item.active small{
    color: #fff;
}

#smartbook-ver #div_voca .result-busqueda>div{
    color: #888;
    margin-bottom: 5em;
    margin-top: 5em;
    text-align: center;
}


#smartbook-ver div.mask{
    position: relative;
}

#smartbook-ver div.mask img{
    max-height: 380px;
    opacity: .07;
}

#smartbook-ver div.mask span{
    font-size: 2.5em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40%;
}

#smartbook-ver #div_games .item-juego{
    margin-bottom: 3px;
}

#smartbook-ver #div_games .item-juego.active{
    background: 3px;
}

@media (max-width: 767.99px) {

    #smartbook-ver div.mask span{
        font-size: 1.5em;

        left: 0;
        width: 100%;
    }
}

/********* smartbook  *******/
#smartbook-ver #cuaderno { position: relative;  }

.scroller,
.scroller:visited{
    animation: scroller 2s infinite;
    background: rgba(68, 168, 208, 0.05);
    border: 2px solid #44a8d0;
    color: #44a8d0;
    left: 40%;
    position: fixed;
    text-align: center;
    width: 20%;
    z-index: 999;
}

@-webkit-keyframes scroller {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes scroller {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.scroller:hover{
    animation: none;
}

#scroll-up { top: 100px; }

#scroll-down { bottom: 27px; }

#smartbook-ver #cuaderno #anillado{
    background-image: url('./img/anillado.png');
    background-size: contain;
    height: 100%;
    position: absolute;
    width: 5%;
}

#smartbook-ver .tabs-left > .nav-tabs > li > a,
#smartbook-ver  .tabs-right > .nav-tabs > li > a{
    min-width: initial !important;
}

#smartbook-ver #cuaderno #navTabsLeft{
    margin-left: 0;
    margin-top: 12px;

}

#smartbook-ver #navTabsTop li>a,
#smartbook-ver #cuaderno #navTabsLeft li>a{
    color: #fff;
    text-shadow:-1px 0px 3px black;
}
#smartbook-ver #navTabsTop li:hover,
#smartbook-ver #cuaderno #navTabsLeft li:hover{
    z-index: 100 !important;
}

#smartbook-ver .tabs-left > .nav-tabs > li > a,
#smartbook-ver .tabs-right > .nav-tabs > li > a{
    margin-bottom: 1px;
}

#smartbook-ver .tabs-right > .nav-tabs > li > a{
    border-radius: 0 10px 10px 0;
}

#smartbook-ver #navTabsTop li:nth-child(10n+1)>a{ background-color: #CC4549; } 
#smartbook-ver #navTabsTop li:nth-child(10n+2)>a{ background-color: #fb8521; }
#smartbook-ver #navTabsTop li:nth-child(10n+3)>a{ background-color: #5cb85c; }
#smartbook-ver #navTabsTop li:nth-child(10n+4)>a{ background-color: #286090; }

/*#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+1)>a{ background-color: #af1e83; } */
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+1)>a{ background-color: #76a027; } 
/*#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+2)>a{ background-color: #fc5c5c; }*/
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+2)>a{ background-color: rgba(84 , 124 , 87, 1); }
/*#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+3)>a{ background-color: #f5ab40; }*/
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+3)>a{ background-color: #78afaa; }
/*#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+4)>a{ background-color: #44a8d0; }*/
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+4)>a{ background-color: rgba(152, 192 , 168, 1); }
/*#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+6)>a{ background-color: #5a89f8; }*/
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+6)>a{ background-color: rgb(214, 206, 155); }
/*#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+7)>a{ background-color: #7e60e0; }*/
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+7)>a{ background-color: #f57f57; }
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+8)>a{ background-color: #fb8521; }
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+9)>a{ background-color: #5cb85c; }
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+10)>a{ background-color: #286090; }
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+11)>a{ background-color: #486ec9; }
/*#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+5)>a{ background-color: #2ed353; }*/
#smartbook-ver #cuaderno #navTabsLeft li:nth-child(10n+5)>a{ background-color: rgb(191, 206, 165); }

#smartbook-ver #cuaderno #tabContent{
    margin-left: 2.5%; 
    margin-right: 52px;
    -webkit-margin-end:0px;
    -moz-margin-end:0px;
}

#smartbook-ver #cuaderno #tabContent>.tab-pane{
    background: #ffffff;
    border: 25px solid;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    min-height: 580px; 
    max-height: 700px;
    /*height: 750px;*/
    overflow: auto;
    padding: 1%;
    padding-left: 2%;
    text-align: center;
}


/*#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+2){ border-color: #af1e83; }*/
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+2){ border-color: #76a027; }
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+3){ border-color: #547c57; }
/*#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+4){ border-color: #f5ab40; }*/
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+4){ border-color: #78afaa; }
/*#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+5){ border-color: #44a8d0; }*/
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+5){ border-color: #98c0a8; }
/*#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+6){ border-color: #2ed353; }*/
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+6){ border-color: #bfcea5; }
/*#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+7){ border-color: #5a89f8; }*/
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+7){ border-color: #d6ce9b; }
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+8){ border-color: #CC4549; }
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+9){ border-color: #fb8521; }
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+10){ border-color: #5cb85c; }
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+11){ border-color: #286090; }
#smartbook-ver #cuaderno #tabContent>.tab-pane:nth-child(10n+12){ border-color: #486ec9; }

#smartbook-ver #cuaderno #tabContent .tab-pane .title-resrc{
    padding: 0 !important;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bolder;
}

#smartbook-ver #cuaderno #tabContent .tab-pane .mascara_visor{
    /*border: 1px solid #ccc;*/
}
#smartbook-ver iframe{
    border: none;
}

#smartbook-ver #cuaderno #tabContent .tab-pane .mascara_visor>iframe{
    height: 530px;
}

#smartbook-ver #cuaderno #tabContent .tab-pane .mascara_visor>img,
#smartbook-ver #cuaderno #tabContent .tab-pane .mascara_visor>video{
    height: 488px;
}
#smartbook-ver #cuaderno #tabContent .tab-pane .mascara_visor iframe,
#smartbook-ver #cuaderno #tabContent .tab-pane .mascara_visor video{
    width: 100%;
}

#smartbook-ver #cuaderno #tabContent .tab-pane .descripcion-media{
    text-align: center;
}

#smartbook-ver #cuaderno #tabContent .tab-pane .contenedor-slider{
    overflow: hidden; 
    max-width: 960px;
}

#smartbook-ver #cuaderno #tabContent .tab-pane .nombre-file{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#smartbook-ver .myslider{
    margin-bottom: 0;
}

#smartbook-ver .miniatura{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    /*display: none;*/
    margin-bottom: 10px;
    margin-right: 5px;
    min-width: 70px;
    padding:  4px;
    position: relative;
    text-align: center;
    width: auto;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

#smartbook-ver .miniatura.miniaturap{
    border: 1px solid #cc4549;
}

#smartbook-ver .miniatura.miniatura_a{
    border: 1px solid #fb8521;
}

#smartbook-ver .miniatura.miniaturai{
    border: 1px solid #5cb85c;
}

#smartbook-ver .miniatura.miniaturav{
    border: 1px solid #337ab7;
}

/* div_presentacion */
#smartbook-ver #cuaderno #tabContent #div_presentacion{
    background-size: cover;
}

#smartbook-ver #cuaderno #tabContent #div_presentacion .portada-info{
    height: 93%;
    position: relative;
}

#smartbook-ver #cuaderno #tabContent #div_presentacion .div_titulo,
#smartbook-ver #cuaderno #tabContent #div_presentacion .div_descripcion,
#smartbook-ver #cuaderno #tabContent #div_presentacion .creado-por{
    margin-top: 10px;
    padding: 0 5px;
}

#smartbook-ver #cuaderno #tabContent #div_presentacion .div_titulo{
    font-size: 4em;
    font-weight: bold;
}

#smartbook-ver #cuaderno #tabContent #div_presentacion .div_descripcion{
    bottom: 13%;
    right: 0;
    position: absolute;
    width: 100%;
}

#smartbook-ver #cuaderno #tabContent #div_presentacion .div_acciones{
    position: absolute;
    bottom: 1em;
    right: 0;
}

#smartbook-ver #cuaderno #tabContent #div_presentacion .creado-por{
    bottom: 30px; /* grosor border .tab-pane */
    right: 0;
    position: absolute;
}

/* div_practice y div_autoevaluar */
#smartbook-ver #cuaderno #tabContent #div_practice,
#smartbook-ver #cuaderno #tabContent #div_autoevaluar{
    padding-top: 5%;
}

#smartbook-ver #cuaderno #tabContent #div_practice .tab-content,
#smartbook-ver #cuaderno #tabContent #div_autoevaluar .tab-content{
    text-align: initial;
}

#smartbook-ver #cuaderno #tabContent .numero_ejercicio{
    color:  green;
    font-style:  italic;
    font-weight: bolder;
}

#smartbook-ver #cuaderno #tabContent .numero_ejercicio .titulo{
    font-size: 0.8em;
}

#smartbook-ver #cuaderno #tabContent .numero_ejercicio .actual{
    font-size: 1.5em;
}

#smartbook-ver #cuaderno #tabContent .numero_ejercicio .total:before{
    content: " / ";
}
/* div_games y div_workbook */
#smartbook-ver #cuaderno #tabContent #div_games .tab-content iframe,
#smartbook-ver #cuaderno #tabContent #div_workbook iframe{
    min-height: 530px; 
    max-height: 700px;
    /*height: 610px;*/
}

#smartbook-ver #cuaderno #tabContent #div_games ul.nav.nav-tabs li>a{
    background-color: #ffffff;
    border: 3px solid;
    border-color: #337ab7;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bolder;
    height: 58px;
    margin-left: 5px;
    padding: 18%;
    width: 58px;
}

#smartbook-ver #cuaderno #tabContent #div_games ul.nav.nav-tabs li.active>a{
    background-color: #337ab7;
    box-shadow: inset 0px 0px 9px 2px #1c3b86;
    border-color: #2fbbf3;
    color: #fff;
}

/* Contenedor de barra progreso, tiempo, intentos */
#smartbook-ver #contenedor-paneles{
    left: 7%;
    position: absolute;
    top: 4%;
    width: 85%
}
#smartbook-ver #contenedor-paneles .eje-panelinfo{
    margin-left: 0.55ex;
    text-align: center;
    min-width: 80px;
    float: left;
}
#smartbook-ver #contenedor-paneles .eje-panelinfo:first-child{margin-left: 0;}
#smartbook-ver #contenedor-paneles .eje-panelinfo .title{
    margin: 0px;
    color: #fff;
    font-size: 
}
#smartbook-ver #contenedor-paneles .eje-panelinfo.active{
    margin: 0px;
    display: block;
}
#smartbook-ver #contenedor-paneles .eje-panelinfo.inactive{
    margin: 0px;
    display: none;
}  

#smartbook-ver #contenedor-paneles #panel-barraprogreso{
    width: 75%;
}

#smartbook-ver #contenedor-paneles #panel-barraprogreso .progress{
    background: rgba(199, 195, 189, 0.62);
}

/* Contenedor de habilidades */
.widget-main {
    padding: 0;
}

.habilidades .btn-skill{
    min-height: 0;
    width: 100%;
}

@media (max-height: 800px) and (min-width: 1250px){
    #scroll-up { top: 5px; }
    
}


/* add  Css Chingo*/
#smartbook-ver #cuaderno #tabContent #div_practice, #smartbook-ver #cuaderno #tabContent #div_autoevaluar {
    padding-top: 6em;
}
#smartbook-ver #contenedor-paneles #panel-barraprogreso {
    width: 100%;
}

#smartbook-ver #contenedor-paneles #panel-barraprogreso .progress {
    background: rgba(245, 208, 152, 0.62);
    height: 22px;
    margin-bottom:1ex;
}

#panel-intentos-dby{
    background: none;
    border: 0px;
    box-shadow:none;
    color:none;
}

#panel-tiempo{
   background: none;
    border: 0px;
    box-shadow: none;
    color:none;
}
.infouserejericiopanel{
    border: 1px solid #ccc;
    background: #aaafb136;
    padding: 0px;
}
.infouserejericiopanel > div{
    padding: 0px;
}
.infouserejericio{
    display: inline-block;
    padding: 1ex 2em 0px 2em;
    font-style: italic !important;
    font-weight: bolder !important;
}


.infouserejericio .titulo{
    font-size: 0.9em !important;
}

.infouserejericio .actual{
    font-size: 1.6em !important;
}
.infouserejericio .total:before{
    content: " / ";
}

.infouserejericio.ejeinfo-numero{
    color: green;
}
.infouserejericio.ejeinfo-tiempo{
    border-left: 1px solid #ccc !important;
    color: #337ab7 !important;    
}

.infouserejericio.ejeinfo-intento{
    border-left: 1px solid #ccc !important;
    color: orange !important;
}

.content-smartic .nav-tabs.ejercicios{
    border-bottom: 0px;
}

img[data-mce-object="image"]{
    /* max-width: 700px; */
    max-height: 700px;
}
.plantilla_video div.embed-responsive,.plantilla div.embed-responsive { max-width: 730px; margin: 0 auto; height: auto!important; padding-bottom: 1ex;}
.plantilla div.embed-responsive video { position: relative!important; }

@media only screen and (max-height: 630px) {
    .plantilla_video div.embed-responsive { max-width: 500px; }
}
.content-smartic .addtexttitle1, .content-smartic .addtexttitulo2{margin-top: 5px; margin-bottom: 5px;}
.content-smartic .addtextdescription1,.content-smartic .addtextdescription2{ margin: 0 0 1px;}
.plantilla_video .btns_control_alumno{
    position: relative;
    padding: 0px;
    margin: 0px;
}
.plantilla_video .botones-control,.plantilla-completar .botones-control { margin-top: 0.2ex !important;}
#cuaderno #panel-barraprogreso{ margin-top: 0.5ex; }
#cuaderno .infouserejericiopanel{ margin-top: -0.5ex;}

.plantilla-speach hr {margin: 0.2ex;}
.plantilla-img_puntos .contenedor-img picture{ max-width: 600px;}
.plantilla-completar .panelEjercicio,.plantilla-completar  .panelAlternativas{ margin:0.2ex; }

.nubeclick { position: absolute; background: rgb(245, 171, 64); color: white; font-size: smaller; border-radius: 0.2ex; padding: 0px 0.2ex; font-weight: 500; }
.plantilla.plantilla-nlsw .col-md-12:nth-child(1) { float:none!important;}
@media only screen and (max-width: 997px) {
    #div_presentacion .div_acciones{ position:relative!important; }
    #smartbook-ver #contenedor-paneles { width: 80% !important;}
    .infouserejericiopanel { border: none; background: initial; }
}
@media only screen and (max-width:767px){
    #toolbar { margin-top:106px;}
}
@media only screen and (max-width: 620px){
    #smartbook-ver #contenedor-paneles { left:8%; width: 75% !important;}
}
@media only screen and (max-width: 580px){
    .infouserejericio  { padding:0 2px;}
}
@media only screen and (max-width:425px){
    #smartbook-ver #contenedor-paneles { left:8%; width: 81% !important;}
    #smartbook-ver #cuaderno #navTabsLeft { margin-top: 0px; padding-top: 12px; border-top: 2px solid black; }
    #smartbook-ver #cuaderno #tabContent { margin-right:0; position:relative; overflow-x:hidden; }
    #contenedor-paneles .btnejercicio-back_, #contenedor-paneles .btnejercicio-next_  { padding: 10px 6px; }
}