.list-description { text-align: center; }
.list-description .list-item { text-align: inherit; }
.list-description .list-item.key { background:lightskyblue; color: mediumblue; }
.list-description .list-item.value { background-color: mintcream; color:darkgray; }
.portada-zone img {margin:0 auto!important;}
#pregunta-timer { position: relative; right: 0; top: 0;color: #fff; }
#pregunta-timer .timer { display:none!important; }
#pregunta-timer .time-elapsed{ position: relative; }
#pregunta-timer .time-elapsed span { position: relative;z-index: 1; }
#pregunta-timer .progreso-timer { height: 100%; position: absolute; left: 0; top: 0; background: #1c8f1cb0; border-radius: 14px; z-index: 0; }
#duracionExamen { background: green; padding: 2px 6px; border-radius: 0.5em; font-size: small; font-weight: 550; }
#curtimerexamen { font-size: 11px; position: absolute; bottom: -11px; right: 1.5em; font-weight: bold; font-style: italic; }
#progresobar2020 { background: initial; width: 100%; height:10px; border-radius: 0; margin:0; margin-bottom:5px; border: 1px solid darkgrey;}
#progresobar2020 .progress-bar { background-color: var(--red)!important; }
.content-skills {  text-align: center; }
.startexam{ max-width: 350px;}
.startexam-container { width: 100%!important; padding-bottom: 50px!important; text-align: center;}
.bg-blue-light, .bg-green-light{ font-weight: 600; }