.rpt-text{
    font-style: italic;
    font-size: 20px;
    color: #818181;
    font-weight: 700;
}
.rpt-cont{
margin-top: 30px;
}
section {
    background-color: #f6f6f6;
 
}
footer.footer{
    position: fixed;
    bottom: 0px;
}
body{
    background-color: #f6f6f6;
}
button.botonEnviarMensaje{
    margin-top: 0 !important;
}
.boxContacto{
    padding: 0 !important;
    padding-top:30px !important;
    /* min-height: 100vh; */
}
.my-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.size{
    max-width: 900px;
}
.my-cont{
    background-color: white;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    border-radius: 20px ;
    padding: 20px;
}
.form{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    border-radius: 20px !important;
    margin: 0 !important;
    margin: auto !important;
    width: 100%;
    /* max-width: 370px; */
    padding: 35px 30px;
    background-color: white;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif !important;
}
header{
    height: auto !important;
}
.my-font{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif !important;
}