

:root {
    --main-bg-color: rgb(32, 130, 228);
    --second-bg-color: #f1b62b;
    --third-bg-color: #5ea1ff;
    --link-color: #ffa963;
    --navbar-height: 62px;
    --edukt:rgb(2, 94, 187);
    --maestro:#f1b62b;
    --box-shadow: rgba(32, 119, 191, 0.4);
    /* --navbar-height: 0px; */
    --section-height: 100vh;
}
/* .cardFeatures span{
    background-color: rgb(0,153,153);
} */
::-webkit-scrollbar {
    max-width: 7px;
    max-height: 7px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ff525200;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #757575b3; 
    border-radius: 10px;
  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.cardFeatures>a{
    display: none;
}
nav.navbar {
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
    backdrop-filter: saturate(180%) blur(20px) !important;
    background-color: rgba(255, 255, 255, .72) !important;
}

.nav-item {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 16px;
}

ul.navbar-nav>li.nav-item>a.nav-link.current {
    color: rgb(27, 27, 27) !important;
}

.boxLogo {
    margin-top: 20px;
}

button.botonEnviarMensaje {
    width: auto;
    outline: none;
}

.cardFeatures>p {
    margin-bottom: 4px;
}

.cardFeatures span {
    display: inline-flex;
}

.cardFeatures h4 {
    margin-left: 10px;
    display: inline;
}

.contenido>p {
    margin-bottom: 20px;
}

.boxCardCallToActions.boxCardAnimated {
    margin-top: 20px;
}

.sliderText {
    width: 80%;
}

.fixBox {
    padding-top: calc(0px + var(--navbar-height));
    min-height: var(--section-height);
    height: auto !important;
}

.oneFix {
    padding-top: calc(50px + var(--navbar-height));
}

.callToActions {
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenido {
    width: 100%;
}

.imgCallToActions {
    width: 100%;
}

.boxCardCallToActions.boxCardAnimated {
    width: 95%;
}

.boxCallToActions {
    padding-bottom: 7px;
}

.contenidoAbout p {
    width: 100%;
}

.contenido h3 {
    margin-top: 20px;
}

.navbar-brand {
    display: block;
}

.navbar-brand>img {
    max-height: 30px;
}

.center-row {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.edukt {
    /* color: var(--main-bg-color); */
    color:  rgb(2, 94, 187);
}

.maestro {
    /* color: var(--second-bg-color); */
    color:  #f1b62b;
}

small.dot {
    color: var(--main-bg-color);
    ;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 10px;
}
.imgAbout>img{
    height: 100%;
}
span.select2.select2-container.select2-container--default {
    width: 100%!important;
}
.navbar-collapse{
    text-align: center;
}
#carouselExampleIndicators{
    min-height: 235px !important;
    height: auto !important;
}
#testimonio{
    min-height: 233px !important;
}
ol{
    margin-bottom: 0;
}
@media (max-width: 576px) {
    #carouselExampleIndicators{
        min-height: 420px !important;
        height: auto !important;
    }
    #testimonio{
        min-height: 419px !important;
    }
    a.irArriba {
        bottom: 10px!important;
    }
}
@media (max-width: 1000px) {
    a.irArriba {
        bottom: 10px!important;
    }
    .current,.current:hover,.current:active,.nav-link:hover,.nav-link:active{
        border: none !important;
    }
}