#bookplantilla{height: 100%; padding: 0ex;}
#bookplantilla .anillado{ display: none; }

.menumaintop{width: 100%;}
.marcopage{	position: relative;	width: 100%;border:0px;	border-radius: 5px;	-moz-border-radius: 5px; -webkit-border-radius:5px;
	border-top: 5px solid #000000; padding: 0px; margin: 0px; height: calc(100% - 37px);	
}
#contentpages{overflow: hidden; overflow-y: auto;}
#contentpages::-webkit-scrollbar{ width: 7px; background: #333;}
.marcopage .menubooktop{ display: none; }

.marcopage.arriba{width: 100%;}
.marcopage.arriba .menubooktop{ position:absolute; display: inline-block; right: 1em; top:-40px; }
.marcopage.arriba .menubooktop ul.sysmenumain{ border: 0px;}
.marcopage.arriba .menubooktop ul.sysmenumain li{
	border-radius: 137px 22px 0px 0px;
	-moz-border-radius: 137px 22px 0px 0px;
	-webkit-border-radius: 137px 22px 0px 0px;
	/*border: 0px solid #000000;*/
}

.marcopage.derecha{width: calc(100% - 70px); height: calc(100% - 37px); border-right: 5px solid #000000; }
.marcopage.derecha .menubooktop{ position: absolute; display: inline-table; right: -50px; width: 45px; height: 100%;  } 
.marcopage.derecha .menubooktop ul.sysmenumain{ border: 0px; margin: 0px;  padding: 0px; width: 35px; float:none;}
.marcopage.derecha .menubooktop ul.sysmenumain li a{border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem; writing-mode: vertical-lr;}
.marcopage.derecha .menubooktop::-webkit-scrollbar{ width: 7px; background: #333;}
.marcopage.derecha .menubooktop ul.sysmenumain li{
	border-radius: 0px 22px 100px 0px;
	-moz-border-radius: 0px 22px 100px 0px;
	-webkit-border-radius: 0px 22px 100px 0px;
	/*border: 0px solid #000000;*/
}


.marcopage.abajo{width: 100%; height: calc(100% - 72px); position: absolute; top:35px; }
.marcopage.abajo .menubooktop{ position:absolute; display: inline-block; bottom: -37px; clear: both; float: left; overflow: hidden; width: 100%;}
.marcopage.abajo .menubooktop ul.sysmenumain{ border: 0px; margin: 0px;  padding: 0px; text-align: center; float: left; left: 50%; list-style-type: none; margin: 0 auto;
padding: 0;position: relative;}
.marcopage.abajo .menubooktop ul.sysmenumain li{ float: left; position: relative; right: 50%;}
.marcopage.abajo .menubooktop ul.sysmenumain li a{border-bottom-left-radius: .25rem; border-bottom-right-radius: .25rem; border-top-right-left: 0px; border-top-right-radius: 0px;}
.marcopage.abajo .menubooktop ul.sysmenumain li{
	border-radius: 0px 0px 50px 50px;
	-moz-border-radius: 0px 0px 50px 50px;
	-webkit-border-radius: 0px 0px 50px 50px;
	/*border: 0px solid #000000;*/
}