.card-secondary:not(.card-outline)>.card-header{ background-color:#ececec; }
.card-secondary:not(.card-outline)>.card-header, .card-secondary:not(.card-outline)>.card-header a { color:#747c84; }
.item-curso{ cursor: pointer !important; }
.card-title {white-space: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
}
.thumbnail{
    height: auto !important;
    /* padding: 1em; */
    padding: 0 !important;
}
.view-first{
    height: 100% !important;
}
.card .img-curso{
	margin: 0 auto; 
	width: 100%; 
	max-width: 250px; 
	max-height: 250px;
    width: 100% !important;
    display: block !important;
    min-height: 150px;
}
.card .mask{
    height: 100% !important;
}
.card .tools-bottom{
    background-color: #464646 !important;
    margin: 0 !important;
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}
.card-primary.card-outline {
	border-top: 3px solid #007bff;

}
.card .mask h4{
	color:#bfbfbd6b;
} 
