.plantilla_txtarrastre .alert{
    margin: 15px auto;
    width: 90%;
}    

.plantilla_txtarrastre .word-drop .success{
    color: #5cb85c;
}

.plantilla_txtarrastre .word-drop .danger{
    background-color: #f2c4c4;
    border: 1px solid #d88693;
}

.plantilla_txtarrastre .contentamove{    
    padding: 2ex;
    margin: 1ex;
    width: 90%;
}

.plantilla_txtarrastre .amove{
    border: 1px dashed #5a89f8;
    padding: 0.5ex;
    cursor: move;
}
