body{
    background: #f4f4f4;
    color: #777;
}

ul.menu-individual li.active{
    background: rgba(0, 0, 0, 0.2);
}

ul.menu-individual li a{
    color: #fff;
    font-size: 1.2em;
}

ul.menu-individual li.active a{
    color: #f5ab40;
    font-size: 1.2em;
}

.pnl100{
	width: 100%;
}