#voca-tool table{
    width: 100%;
}

#voca-tool table>thead>tr {
    font-weight: bold;
}

#voca-tool table>tbody>tr:nth-of-type(odd){
    background-color: #f9f9f9;
}

#voca-tool table>caption+thead>tr:first-child>td,
#voca-tool table>caption+thead>tr:first-child>th,
#voca-tool table>colgroup+thead>tr:first-child>td,
#voca-tool table>colgroup+thead>tr:first-child>th,
#voca-tool table>thead:first-child>tr:first-child>td,
#voca-tool table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

#voca-tool table>tbody>tr>td, 
#voca-tool table>tbody>tr>th, 
#voca-tool table>tfoot>tr>td, 
#voca-tool table>tfoot>tr>th, 
#voca-tool table>thead>tr>td, 
#voca-tool table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#voca-tool table tr>td img.table-img{
    width: 200px;
    max-width: 200px;
}