.container{ padding-right: 7px; padding-left: 7px; }
.practice{ /*display: none;*/ }
.nav-tabs.ejercicios, .nopreview{
    display: none !important;
}
#panel-barraprogreso span { display: none; }
#panel-barraprogreso .progress { height:10px; border-radius: 0; margin:0; margin-bottom:5px; border: 1px solid darkgrey; }
#btns_control_alumno .save-progreso { display: none!important; }
#btns_control_alumno .try-again { display: block; }
.botonesNextBack{ margin-bottom: 60px; }
.nubeclick { position: absolute; background: rgb(245, 171, 64); color: white; font-size: smaller; border-radius: 0.2ex; padding: 0px 0.2ex; font-weight: 500;}
.plantilla-nlsw .tox-tinymce { display:inline-flex!important; }
.plantilla .botones-control { margin-top: 0; }
.plantilla audio { width:100%; }
.tabcontent-main-content .tabhijo .row .col-xs-12:first-child { padding: 0 5px; }
.tabcontent-main-content .tabhijo .row .col-md-12:first-child { padding:0; }
.tabcontent-main-content .tabhijo .row:first-child{ margin:0; }
.infouserejericiopanel{ width: 100%; }
.mask-smartbook-portada-detail {left: -4.4%;}
.panelEjercicio, .tpl_plantilla, .plantilla, .tabhijo {	
    min-height: fit-content;
}

.content-smartic{
    overflow: revert;
    min-height: auto;
}
.modal{
    z-index: 10000!important;
}