.container{ padding-right: 7px; padding-left: 7px; }
.mascara_visor iframe { width:100%; min-height:80vh; height:100%; }
.tab-content { padding:0; }
.mask-smartbook-portada-detail {left: -2%;}
#div_games ul.nav.nav-tabs li>a{
    text-align: center;
    background-color: #ffffff;
    border: 3px solid;
    border-color: #337ab7;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bolder;
    height: 58px;
    margin-left: 5px;
    padding: 18%;
    width: 58px;
}
#div_games ul.nav.nav-tabs li.active>a{
    background-color: #337ab7;
    box-shadow: inset 0px 0px 9px 2px #1c3b86;
    border-color: #2fbbf3;
    color: #fff;
}