.icon {
    margin: auto 15px; width: 23px; height: 21px; display: block; background-size: 19px 21px; background-repeat: no-repeat;
}
.icon-simple-arrow { 
    background-image: url('../../../../../smart/plantillas/paris/mobile/assets/img/-onic-ios-arrow-forward.svg'); 
}
.icon-circle-sb{
    background-image: url('../../../../../smart/plantillas/paris/mobile/assets/img/s/icon-simple-circle.svg'); 
}
.icon-simple-circle-blue {
    background-image: url('../../../../../smart/plantillas/paris/mobile/assets/img/-simple-circle-blue.svg');
}

.icon-simple-circle-green {
    background-image: url('../../../../../smart/plantillas/paris/mobile/assets/img/-simple-circle-green.svg');
}

.icon-simple-circle-magento {
    background-image: url('../../../../../smart/plantillas/paris/mobile/assets/img/-simple-circle-magento.svg');
}
.icon-arrow-left { background-image: url('../../../../../smart/plantillas/paris/mobile/assets/img/icon-feather-arrow-left.svg'); }
.separator-detail-arrow {
    width: 1px; height: 100%; background: white; position: absolute; right: 0; top: 0;
}
.text-ellipsis { 
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap; 
}
.img-smartbook-portada{ 
    position:relative; background-image: url('../../../../../smart/plantillas/paris/mobile/assets/img/icons/smartbookportada.png'); background-repeat: no-repeat; background-size: cover;
}
.img-smartbook-portada::before{ 
    content: ""; position: absolute; width: 100%; height: 100%; background: #b8d2ff52;
}
.txt_title_smartbook {
    font-size: 4rem; opacity: .8; font-weight: 600; padding-top: 0.5em; color: white;
}
.txt_subtitle_smartbook{
    font-size: 25px; color: white; padding-left: 15px; padding-bottom: 20px;
}
.txt_spantitle_smartbook{
    background-color: #b9b9b978; padding: 0 5px; border-radius: .2em;
}
.txt_title_option{
    font-size: 20px;
}
.txt_subtitle_option{
    font-size: 12px;
}
.Menu-item{ 
    margin:2em 0 
}
.mask-smartbook-portada-detail {
    
    width: 100vw; position: relative; background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%); min-height: 50px; height: auto;
}
.mask-smartbook-row .col-xs-2{
    transform: translateY(130%);
}
.csd-section2-top {
    margin-top: 5px; position: relative; height: 50%; color: white;
}
.csd-section2-top h3,.csd-section2-top h4 {
    margin:0;
}
.csd-section2-bottom {
    height: 50%; position: relative; margin-top:15px; color: white;
}
.miga {
    border-radius: 14px; width: max-content
}
.txt-type-smartbook {
    padding: 4px 15px; font-weight: 700; font-size: 12px
}
.txt_title_smartbook-detail{
    font-size: 35px; opacity: .15; font-weight: 600; position: absolute; right: 0; top: 0;
}
.txt_subtitle_smartbook-detail{
    font-size: 20px;  font-weight: 500;
}
#contenedor-paneles { left: 0!important; }
.btnpronunciacionshow{ border-radius: 1em!important; }