.container{ padding: 0; }
.btnselectedfile { display:none!important; }
.Ejercicio { padding:0; }
.Ejercicio .col-xs-12,.Ejercicio .col-sm-12,.Ejercicio .col-md-12{ padding-left:7px; padding-right: 7px; }

.plantilla-dialogo .nopreview{
    display:none !important;
}