.select-ctrl-wrapper:after{	right: 0px;}
select.select-ctrl, .form-control , .input-group-addon{ border: 1px solid #4683af;	margin-bottom: 1ex;}
.input-file-invisible{     
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0; 
  }
.form-control, .input-group-addon {border: 1px solid #4683af; margin: 0px; }

.form-control[readonly]{border:#ccc;} 
.cajaselect{    padding: 1px; overflow: hidden; width: 100%; position: relative; border-radius: 5px;}
.cajaselect::after{
	font-family: FontAwesome; 
	font-size: 1.3em; 
	content: "\f0dd"; 
	display: inline-block; 
	text-align: center; width: 30px;
    height: 100%;
    background-color: #0070a0;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
    color: #FFF;
    border-radius: 0px 0.3ex 0.3ex 0px;
  }


  .form-group label::after{ content:" : ";  }

  .date > .input-group-addon{
    color: #fff;
    background-color: #0070a0;
    width: 30px;
  }

  .date.input-group{
    width: 100%;
    margin-top:0px;
  }
.breadcrumb {background-color:rgb(64, 113, 191); padding: 1ex;  }
.breadcrumb a{ color: #fff; }.breadcrumb li.active{ color:#d2cccc; }

input.empty:placeholder-shown , input:focus{border: 1px solid #4683af; }
input.empty:not(:placeholder-shown){border: 0px;}
input.size15{font-size: 1.5em;}
input.size1{font-size: 1em;}
input.size2{font-size: 2em;}
.contool .toolbarmouse{
    display: none;
}
.contool:hover .toolbarmouse{
display: block;
}
img.centrado{
	display: block;
	margin: auto;
}
.panel .panel-body{border: 1px solid rgba(70,131,175,1);box-shadow: 5px -5px 10px -4px rgba(168,166,168,1); }
/*.modal .panel .panel-body{ padding: 0px; border: 0px solid rgba(70,131,175,1); box-shadow:none;}*/
.panel-user{ width: 100%; padding:0.4ex; border: 1px solid rgba(70,131,175,1);box-shadow: 5px -5px 10px -4px rgba(168,166,168,1); background: #fff; position: relative;}
.panel-user .item{ height: 280px;  overflow: hidden;}
.panel-user .pnlimg{ height: 200px;  overflow: auto;}
.panel-user .texto{ position: absolute;
    width: 98%;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.95);
    padding: 1ex;
    text-align: center; }
.panel-user .titulo{ 
      color: #9c0606;
      webkit­shape­inside: rectangle(0,0,100%,100%,100%,100%); 
      text-align: center; font-size: 1.4em;
    }
.panel-user .infor{ 
      color: #9c0606;
      webkit­shape­inside: rectangle(0,0,100%,100%,100%,100%); 
      text-align: center; font-size: 1em;
}

.panel-user .pnlacciones{ display: none;}
.panel-user.active .pnlacciones{ display: block; top: 0px;}
.pnlacciones{
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 0 0.1ex -0.4ex;
    padding: 0.25ex;
    background: #469de8;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.modal-footer{
  text-align: center;
}
.breadcrumb {background-color:rgb(64, 113, 191); padding: 1ex;  }
.breadcrumb a{ color: #fff; }
.breadcrumb li.active{ color:#d2cccc; }
.form-group{ margin-bottom: 0.75em; }
.input-group { margin-top: 0px; }
.mg1{padding:0px 1.5ex 1.3ex 1.5ex;}
.frmfoto{ max-width: 250px; max-height: 200px;}
hr.frmlinea{ margin: 1.3ex;}

i.fa{
  position: relative;
}
i.fa .fa {
    top: 5px;
    right: -5px;
    position: absolute;
}
#bs-navbar{
  display: block;
  position: static;
}
